
        <!-- Sliding Navigation -->
        <div class="uk-section uk-padding-small in-profit-ticker" id="community__nav">
            <div class="uk-container">



                <div class="uk-position-relative uk-dark">

                    <ul id="community_nav" class="slick">
                        <li><a href="community-detail.html">BPM</a></li>
                        <li><a href="community-detail.html">COVID-19</a></li>
                        <li><a href="community-detail.html">Current Issues</a></li>
                        <li><a href="community-detail.html">Cyber Security & Privacy</a></li>
                        <li><a href="community-detail.html">Data Science & AI Community</a></li>
                        <li><a href="community-detail.html">Digital Transformation</a></li>
                        <li><a href="community-detail.html">Diversity And Inclusion</a></li>
                        <li><a href="community-detail.html">Emerging tech</a></li>
                        <li><a href="community-detail.html">Engineering Research & Design</a></li>
                        <li><a href="community-detail.html">Global In-House Centers</a></li>
                        <li><a href="community-detail.html">Global Trade</a></li>
                        <li><a href="community-detail.html">Industry 4.0</a></li>
                        <li><a href="community-detail.html">IT Services</a></li>
                        <li><a href="community-detail.html">Launch Pad</a></li>
                        <li><a href="community-detail.html">Leader Talk</a></li>
                        <li><a href="community-detail.html">NASSCOM Insights</a></li>
                        <li><a href="community-detail.html">NASSCOM Summits</a></li>
                        <li><a href="community-detail.html">Policy Advocacy</a></li>
                        <li><a href="community-detail.html">Product/Startups</a></li>
                        <li><a href="community-detail.html">Sales & Marketing</a></li>
                        <li><a href="community-detail.html">SME Connect</a></li>
                        <li><a href="community-detail.html">Talent & Skills</a></li>
                        <li><a href="community-detail.html">Tech for Good</a></li>
                    </ul>



                </div>



            </div>
        </div>
        <!-- End Sliding Navigation -->