    <!-- Mobile Navigation -->
    <div id="ofcanvas" uk-offcanvas="overlay: true;mode: push">
        <div class="uk-offcanvas-bar uk-flex  uk-flex-center">



            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-medium-top">


                <li class="uk-active"><a href="#">Events</a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">For You</a></li>
                <li><a href="#">Comunities</a></li>



                    <li><a>Content Partner</a></li>
                    <li><a>Advertise with us</a></li>
                    <li><a>Discover</a></li>
                    <li><a>Community TV</a></li>

            </ul>

        </div>
    </div>
    <!-- End Mobile Navigation -->