<div uk-sticky class="uk-section uk-background-primary uk-padding-small pre__header">
    <div class="uk-container">
        <div class="uk-flex uk-width-1-1 uk-flex-middle">
            <div class="uk-flex-left  uk-flex-middle nav-overlay header__socialicons">
                <ul class="uk-iconnav uk-light">
                    <li class="uk-visible@s	">Follow us</li>

                    <li><a href="#" uk-icon="icon: facebook" class="uk-icon"></a></li>
                    <li><a href="#" uk-icon="icon: twitter" class="uk-icon"></a></li>
                    <li><a href="#" uk-icon="icon: linkedin" class="uk-icon"></a></li>
                </ul>
            </div>
            <div class="uk-navbar-right nav-overlay uk-position-relative" id="register__bar">

                <div class="uk-inline uk-position-relative">
                    <a class="nav__create uk-button uk-button-small uk-button-primary  uk-border-pill"
                        href="#"><i uk-icon="plus"></i> <span class="uk-visible@s">Create </span> </a>

                    <div class="" uk-dropdown="mode: click">

                        <ul class="uk-nav uk-dropdown-nav">
                            <li><a href="#">New Blog Post</a></li>
                            <li><a href="#">New Discussion</a></li>
                            <li><a href="#">New Video</a></li>
                            <li><a href="#">New Article</a></li>
                        </ul>


                    </div>


                    <a class="uk__notification uk-margin-small-left uk-position-relative uk-button uk-button-small uk-button-primary uk-border-pill uk-margin-small-left"
                        href="#"><i uk-icon="bell"></i> <span
                            class="uk-badge uk-position-top-left">1000+</span> </a>

                    <div class="notification__bar uk-padding-small"
                        uk-dropdown="mode: click;pos:top-center">

                        <ul class="uk-tab uk-clearfix"
                            data-uk-tab="{connect:#reports_list, animation: uk-animation-fade}">
                            <li class="uk-active"><a href="#notification__new">Newest</a></li>
                            <li><a href="#notification__old">Oldest</a></li>
                        </ul>
                        <ul class="uk-width-1-1@s uk-switcher " data-uk-switcher="{active:1}">

                            <li class="scroller" data-scrollbar="true">



                                <div class="notification-item uk-flex uk-clearfix uk-margin-medium-bottom">
                                    <div class="notification-img">
                                        <img src="https://chimpzlab.tech/img/30?1203h" alt="news img" width="30"
                                            height="30" />
                                    </div>
                                    <div class="notification-content uk-flex-1 uk-margin-small-left">


                                        <a href="">Software Development Process Metrics
                                            ?</a>
                                        <span>3m Ago</span>

                                    </div>
                                    <a href="#">
                                        <span uk-icon="more-vertical"></span>
                                    </a>
                                </div>
                                <div class="notification-item uk-flex uk-clearfix uk-margin-medium-bottom">
                                    <div class="notification-img">
                                        <img src="https://chimpzlab.tech/img/30?1df23h" alt="news img" width="30"
                                            height="30" />
                                    </div>
                                    <div class="notification-content uk-flex-1 uk-margin-small-left">


                                        <a href="">Why Should You Care?
                                        </a>
                                        <span>521 Days Ago</span>

                                    </div>
                                    <a href="#">
                                        <span uk-icon="more-vertical"></span>
                                    </a>
                                </div>


                            </li>
                            <li class="scroller" data-scrollbar="true">
                                <div class="notification-item uk-flex uk-clearfix uk-margin-medium-bottom">
                                    <div class="notification-img">
                                        <img src="https://chimpzlab.tech/img/30?1df23h" alt="news img" width="30"
                                            height="30" />
                                    </div>
                                    <div class="notification-content uk-flex-1 uk-margin-small-left">


                                        <a href="">Dont' Should You Care?
                                        </a>
                                        <span>521 Days Ago</span>

                                    </div>
                                    <a href="#">
                                        <span uk-icon="more-vertical"></span>
                                    </a>
                                </div>
                                <div class="notification-item uk-flex uk-clearfix uk-margin-medium-bottom">
                                    <div class="notification-img">
                                        <img src="https://chimpzlab.tech/img/30?120c3h" alt="news img" width="30"
                                            height="30" />
                                    </div>
                                    <div class="notification-content uk-flex-1 uk-margin-small-left">


                                        <a href="">Software Development Process Metrics
                                            ?</a>
                                        <span>3m Ago</span>

                                    </div>
                                    <a href="#">
                                        <span uk-icon="more-vertical"></span>
                                    </a>
                                </div>
                                <div class="notification-item uk-flex uk-clearfix uk-margin-medium-bottom">
                                    <div class="notification-img">
                                        <img src="https://chimpzlab.tech/img/30?12d03h" alt="news img" width="30"
                                            height="30" />
                                    </div>
                                    <div class="notification-content uk-flex-1 uk-margin-small-left">


                                        <a href="">Software Development Process Metrics
                                            ?</a>
                                        <span>3m Ago</span>

                                    </div>
                                    <a href="#">
                                        <span uk-icon="more-vertical"></span>
                                    </a>
                                </div>
                                <div class="notification-item uk-flex uk-clearfix uk-margin-medium-bottom">
                                    <div class="notification-img">
                                        <img src="https://chimpzlab.tech/img/30?1203eh" alt="news img" width="30"
                                            height="30" />
                                    </div>
                                    <div class="notification-content uk-flex-1 uk-margin-small-left">


                                        <a href="">Software Development Process Metrics
                                            ?</a>
                                        <span>3m Ago</span>

                                    </div>
                                    <a href="#">
                                        <span uk-icon="more-vertical"></span>
                                    </a>
                                </div>
                                <div class="notification-item uk-flex uk-clearfix uk-margin-medium-bottom">
                                    <div class="notification-img">
                                        <img src="https://chimpzlab.tech/img/30?120c3h" alt="news img" width="30"
                                            height="30" />
                                    </div>
                                    <div class="notification-content uk-flex-1 uk-margin-small-left">


                                        <a href="">Software Development Process Metrics
                                            ?</a>
                                        <span>3m Ago</span>

                                    </div>
                                    <a href="#">
                                        <span uk-icon="more-vertical"></span>
                                    </a>
                                </div>
                                <div class="notification-item uk-flex uk-clearfix uk-margin-medium-bottom">
                                    <div class="notification-img">
                                        <img src="https://chimpzlab.tech/img/30?120c3h" alt="news img" width="30"
                                            height="30" />
                                    </div>
                                    <div class="notification-content uk-flex-1 uk-margin-small-left">


                                        <a href="">Software Development Process Metrics
                                            ?</a>
                                        <span>3m Ago</span>

                                    </div>
                                    <a href="#">
                                        <span uk-icon="more-vertical"></span>
                                    </a>
                                </div>
                                <div class="notification-item uk-flex uk-clearfix uk-margin-medium-bottom">
                                    <div class="notification-img">
                                        <img src="https://chimpzlab.tech/img/30?v1203h" alt="news img" width="30"
                                            height="30" />
                                    </div>
                                    <div class="notification-content uk-flex-1 uk-margin-small-left">


                                        <a href="">Software Development Process Metrics
                                            ?</a>
                                        <span>3m Ago</span>

                                    </div>
                                    <a href="#">
                                        <span uk-icon="more-vertical"></span>
                                    </a>
                                </div>
                            </li>
                        </ul>

                    </div>


                    <a class="nav__profile uk-margin-small-left uk-position-relative uk-light uk-margin-medium-left"
                        href="#"> <img class="uk-border-circle" src="https://chimpzlab.tech/img/30?1023h"
                            alt="news img" width="30" height="30" /> <span>John Doe</span></a>

                    <div class="user__bar" uk-dropdown="mode: click;pos:top-right">

                        <ul class="uk-nav uk-dropdown-nav">
                            <li><a href="profile.html">Profile</a></li>
                            <li><a href="mycontent.html">My Content</a></li>

                            <li><a href="#">Logout</a></li>
                        </ul>

                    </div>


                </div>


            </div>

            <div class="nav-overlay uk-navbar-right uk-light uk-margin-remove-left">

                <a class="uk-navbar-toggle" uk-search-icon
                    uk-toggle="target: .nav-overlay; animation: uk-animation-fade;" href="#"></a>

            </div>

            <div class="nav-overlay uk-navbar-left uk-flex-1 uk-light" hidden>

                <div class="uk-navbar-item uk-width-expand uk-light uk-autocomplete uk-form">
                    <form class="uk-search uk-search-navbar uk-width-1-1 ">
                        <div class="uk-autocomplete">
                            <input id="site_search" class="uk-search-input" type="search"
                                placeholder="Try searching for people,topics or keywords" autofocus
                                maxlength="30">

                        </div>
                    </form>

                </div>

                <a class="uk-navbar-toggle " uk-close
                    uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>

            </div>
        </div>
    </div>
</div>