{{ include('header/header.html') }}
      

<div class="article__progress" uk-sticky="offset: 50;cls-active:uk-visible;">

<div class="progress-container">
    <div class="progress-bar" id="topBar"></div>
  </div>  
</div>




<div class="uk-section">
    <div class="uk-container">
        <ul class="uk-breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="events.html">News</a></li>


            <li><span>Value Stream Management (VSM)
            </span></li>
        </ul>

    </div>
</div>


        <!-- Blog  -->
        <div class="uk-section uk-padding-small " >
            <div class="uk-container">
                <article class="gp-entry-text">


                    <div uk-grid="" class="uk-grid uk-grid-stack uk-margin-bottom uk-flex-middle">
                        <div class="uk-width-1-2@m uk-first-column">
                            <img src="https://chimpzlab.tech/img/600x315?1203h" alt="PDF Screenshoot">
                        </div>
                        <div class="uk-width-1-2@m uk-grid-margin uk-first-column">
                            <header><h1 class="uk-h1 uk-article-title">Value Stream Management (VSM) – Gain Competitive Advantage & Drive Innovation with Customer & Employee Experience

                            </h1></header>
                            <div class="listing__meta uk-margin-small-bottom"><i class="fa fa-calendar"></i> 21st Jan, 2021 to 11th Feb, 2021 </div>
                            <div class="listing__meta uk-margin-small-bottom"><i class="fa fa-clock"></i> 10:00AM to 06:00PM</div>
                           

                            <div class="listing__meta uk-margin-small-bottom"><i
                                class="fa fa-map-marker"></i> Banglore</div>
                        </div>
                    </div>


                    <hr class="uk-divider-icon">


                    

              
                 
<div class="uk-flex uk-flex-center">
   
<div class="uk-padding-large article__area">
        
    <p>In today’s digital world, customers expect businesses to provide them with technology that will improve their experience in making it easier and more enjoyable to do business.</p>
<p>While every company today is a software company, and the role of Chief Information Officer (CIO) has never been more important. The business demands better software, delivered faster, with zero tolerance for outages or security breaches. A CIO’s performance is no longer measured by operational efficiency, rather by customer experiences, digital products, and revenue generation.</p>
<p>Join us for a live webinar where Upendra Giri, CEO &amp; Founder xFacto.io (Silicon Valley), will be in a live conversation with Vishwas Mahajan (CEO, Whizible)</p>
<p>Session Takeaways;</p>
<ul>
    <li>What is Value Stream Management (VSM) – An Overview</li>
    <li>Who benefits from value stream mapping?</li>
    <li>How to map the value stream of software development?</li>
    <li>VSM Market Landscape &amp; Future of VSM</li>
</ul>

<p>www.whizible.com<br>
Lifeline for Projects</p>


                </div>
            </div>
                </article>
              
<div class="uk-section" id="event_cards">
    <div class="uk-child-width-expand@s uk-text-left" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body uk-height-1-1">
                <strong>Start:</strong><br/>
                October 8, 2020 @ 11:00 am<br/>
                <strong>End:</strong><br/>
                March 8, 2020 @ 12:00 pm
                
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body uk-height-1-1">
                <strong>Venue:</strong><br/>
                Webinar<br/>
                <strong>Phone:</strong><br/>
                +918554983313
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body uk-height-1-1">
                <strong>Website:</strong><br/>
                <a href="https://attendee.gotowebinar.com/register/6618228080100932107" target="_blank">https://attendee.gotowebinar.com/register/6618228080100932107</a>

            </div>
        </div>
    </div>
    
</div>

            
            </div>
        </div>
        <!-- End Blog -->   
        

  


       
<script>
    window.onscroll = function() {ScrollIndicator()};

function ScrollIndicator() {
  var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
  var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
  var scrolled = (winScroll / height) * 100;
  document.getElementById("topBar").style.width = scrolled + "%";
}
</script>  
 

        
 
{{ include('footer/footer.html') }}
