

                    <div class="uk-width-auto uk-column-divider  uk-padding-remove@s profile__nav">

                        <ul class="uk-nav uk-nav-pimary uk-padding-small" uk-sticky="bottom: #profile_posts;offset: 50">


                            <li {% if menu == "profile.html" %}class="uk-active"{% endif %} ><a href="profile.html" class=""><i class="fa fa-home"></i> <span>Home</span></a>
                            </li>
                            <li {% if menu == "mycontent.html" %}class="uk-active"{% endif %} ><a href="mycontent.html"><i class="fa fa-newspaper"></i> <span>My Content</span></a></li>
                            <li {% if menu == "notifications.html" %}class="uk-active"{% endif %}><a href="notifications.html"><i class="fa fa-bell"></i> <span>Notifications</span></a></li>
                            <li {% if menu == "bookmarks.html" %}class="uk-active"{% endif %}><a href="bookmarks.html"><i class="fa fa-bookmark"></i> <span>Bookmarks</span></a></li>
                        </ul>
                    </div>


            

