<div class="uk-width-1-3 uk-column-divider uk-padding-small profile__news" >
    <div uk-sticky="bottom: #profile_posts;offset: 60">
        <div class="uk-width-1-1@s post__list">

            <h3 class="uk-text-primary uk-h5">What's Happening</h3>

            <h4 class="uk-text-secondary uk-margin-remove-top">Featured Post</h4>

            <div class="news-item uk-flex uk-clearfix uk-margin-medium-bottom">
                <div class="news-img uk-transition-toggle">
                    <img class="uk-transition-scale-up uk-transition-opaque"
                        src="https://chimpzlab.tech/img/100?123" alt="news img" width="100"
                        height="100" />
                </div>
                <div class="news-content uk-flex-1 uk-margin-small-left">
                    <div
                        class="catname uk-background-primary uk-display-inline uk-padding-small uk-padding-remove-vertical uk-border-pill">
                        Data Science & AI Community</div>

                    <a href="">Software Development Process Metrics —- Why Should You Care ?</a>

                    <div class="listing__meta">
                        <i class="fa fa-calendar"></i><span
                            class="uk-margin-small-right post-date">October
                            20, 2020</span>
                        <i class="fa fa-eye"></i><span
                            class="post-view uk-margin-small-right">200</span>
                        <i class="fa fa-thumbs-up"></i><span class=" post-likes">20</span>

                    </div>
                </div>
            </div>
            <h4 class="uk-text-secondary uk-margin-remove-top">Trending Blogs</h4>

            <div class="news-item uk-flex uk-clearfix uk-margin-medium-bottom">
                <div class="news-img uk-transition-toggle">
                    <img class="uk-transition-scale-up uk-transition-opaque"
                        src="https://chimpzlab.tech/img/100?12" alt="news img" width="100"
                        height="100" />
                </div>
                <div class="news-content uk-flex-1 uk-margin-small-left">
                    <div
                        class="catname uk-background-primary uk-display-inline uk-padding-small uk-padding-remove-vertical uk-border-pill">
                        Community</div>

                    <a href="">Digital dashboard for better coordination and insights</a>

                    <div class="listing__meta">
                        <i class="fa fa-calendar"></i><span
                            class="uk-margin-small-right post-date">October
                            20, 2020</span>
                        <i class="fa fa-eye"></i><span
                            class="post-view uk-margin-small-right">20</span>
                        <i class="fa fa-thumbs-up"></i><span class=" post-likes">20</span>
                    </div>
                </div>
            </div>
            <h4 class="uk-text-secondary uk-margin-remove-top">Reports</h4>

            <div class="news-item uk-flex uk-clearfix uk-margin-small-bottom">
                <div class="news-img uk-transition-toggle">
                    <img class="uk-transition-scale-up uk-transition-opaque"
                        src="https://chimpzlab.tech/img/100?22" alt="news img" width="100"
                        height="100" />
                </div>
                <div class="news-content uk-flex-1 uk-margin-small-left">
                    <div
                        class="catname uk-background-primary uk-display-inline uk-padding-small uk-padding-remove-vertical uk-border-pill">
                        Digital Transformation</div>

                    <a href="">3Cs – Customer, Culture and Competence, Driving business value
                        for
                        your
                        customers</a>

                    <div class="listing__meta">
                        <i class="fa fa-calendar"></i><span
                            class="uk-margin-small-right post-date">October
                            20, 2020</span>
                        <i class="fa fa-eye"></i><span
                            class="post-view uk-margin-small-right">5620</span>
                        <i class="fa fa-thumbs-up"></i><span class=" post-likes">20</span>
                    </div>
                </div>
            </div>



        </div>
        <a href="#" class="uk-button primary__btn uk-margin-medium-bottom uk-button-small">See more
            information</a>
    </div>
</div>