{{ include('header/header.html') }}

<div class="uk-cover-container uk-height-medium">
    <img src="https://chimpzlab.tech/img/1200x450?v" alt="" uk-cover height="400">
    <div class="uk-container">
        <div class="uk-overlay uk-overlay-primary uk-position-bottom">
            <h1>
                COMMUNITIES
            </h1>
            <p>An online repository of NASSCOM Research Reports that track industry trends and opportunities.
            </p>
        </div>
    </div>

</div>

<div class="uk-section">
    <div class="uk-container">
        <ul class="uk-breadcrumb">
            <li><a href="community-detail.html">Home</a></li>


            <li><span>Communities</span></li>
        </ul>

    </div>
</div>

<div class="uk-section-full" id="profile_posts">
    <div class="uk-container">


        <div class="uk-flex uk-flex-wrap">

            <div class="uk-width-1-3 uk-column-divider uk-padding-small report_filters">

               <div data-scrollbar class="accordian__wrap">
                <ul class="lazy uk-list uk-list-divider">
                    <li><a href="/community/web/communities?tid=149" id="edit-tid1-all" name="tid1[All]" class="bef-link bef-link--selected">- Any -</a>                   
                    <li><a href="/community/web/communities?tid=149&amp;tid1=5995" id="edit-tid1-5995" name="tid1[5995]" class="bef-link">00000000000000</a>                  
                    <li>
                       <a href="/community/web/communities?tid=149&amp;tid1=6005" id="edit-tid1-6005" name="tid1[6005]" class="bef-link">222222222</a>                  
                       <ul class="inner">
                          <li><a href="/community/web/communities?tid=149&amp;tid1=6004" id="edit-tid1-6004" name="tid1[6004]" class="bef-link">11111111</a>                  
                       </ul>
                    <li><a href="/community/web/communities?tid=149&amp;tid1=6006" id="edit-tid1-6006" name="tid1[6006]" class="bef-link">3333333</a>                   
                    <li><a href="/community/web/communities?tid=149&amp;tid1=6007" id="edit-tid1-6007" name="tid1[6007]" class="bef-link">44444444</a>                  
                    <li><a href="/community/web/communities?tid=149&amp;tid1=6008" id="edit-tid1-6008" name="tid1[6008]" class="bef-link">55555555</a>                  
                    <li><a href="/community/web/communities?tid=149&amp;tid1=3145" id="edit-tid1-3145" name="tid1[3145]" class="bef-link">Advanced Digital Channels</a>                   
                    <li>
                       <a href="/community/web/communities?tid=149&amp;tid1=145" id="edit-tid1-145" name="tid1[145]" class="bef-link">Communities</a>                   
                       <ul class="inner">
                          <li><a href="/community/web/communities?tid=149&amp;tid1=152" id="edit-tid1-152" name="tid1[152]" class="bef-link">BPM</a>                 
                          <li><a href="/community/web/communities?tid=149&amp;tid1=3779" id="edit-tid1-3779" name="tid1[3779]" class="bef-link">COVID-19</a>                  
                          <li><a href="/community/web/communities?tid=149&amp;tid1=157" id="edit-tid1-157" name="tid1[157]" class="bef-link">Current Issues</a>                  
                          <li>
                             <a href="/community/web/communities?tid=149&amp;tid1=5234" id="edit-tid1-5234" name="tid1[5234]" class="bef-link">Cyber Security &amp; Privacy</a>                 
                             <ul class="inner">
                                <li><a href="/community/web/communities?tid=149&amp;tid1=5261" id="edit-tid1-5261" name="tid1[5261]" class="bef-link">COVID Advisories</a>                   
                                <li><a href="/community/web/communities?tid=149&amp;tid1=5263" id="edit-tid1-5263" name="tid1[5263]" class="bef-link">Cyber Forensics</a>                 
                                <li><a href="/community/web/communities?tid=149&amp;tid1=5238" id="edit-tid1-5238" name="tid1[5238]" class="bef-link">Data Privacy</a>                 
                                <li><a href="/community/web/communities?tid=149&amp;tid1=5237" id="edit-tid1-5237" name="tid1[5237]" class="bef-link">Digital Payment Safety</a>                   
                                <li><a href="/community/web/communities?tid=149&amp;tid1=5241" id="edit-tid1-5241" name="tid1[5241]" class="bef-link">DSCI Reports</a>                 
                                <li><a href="/community/web/communities?tid=149&amp;tid1=5236" id="edit-tid1-5236" name="tid1[5236]" class="bef-link">Member’s Speak</a>                  
                                <li><a href="/community/web/communities?tid=149&amp;tid1=5239" id="edit-tid1-5239" name="tid1[5239]" class="bef-link">National CoE</a>                 
                                <li><a href="/community/web/communities?tid=149&amp;tid1=5235" id="edit-tid1-5235" name="tid1[5235]" class="bef-link">TechSagar</a>                 
                                <li><a href="/community/web/communities?tid=149&amp;tid1=5240" id="edit-tid1-5240" name="tid1[5240]" class="bef-link">Telangana CoE</a>                   
                                <li><a href="/community/web/communities?tid=149&amp;tid1=5262" id="edit-tid1-5262" name="tid1[5262]" class="bef-link">Threat Intelligence</a>                   
                             </ul>
                          <li>
                             <a href="/community/web/communities?tid=149&amp;tid1=4835" id="edit-tid1-4835" name="tid1[4835]" class="bef-link">Data Science &amp; AI Community</a>                 
                             <ul class="inner">
                                <li><a href="/community/web/communities?tid=149&amp;tid1=4843" id="edit-tid1-4843" name="tid1[4843]" class="bef-link">AI from Telangana</a>                  
                                <li><a href="/community/web/communities?tid=149&amp;tid1=4844" id="edit-tid1-4844" name="tid1[4844]" class="bef-link">AI Inside</a>                 
                                <li><a href="/community/web/communities?tid=149&amp;tid1=5338" id="edit-tid1-5338" name="tid1[5338]" class="bef-link">Co-Innovation</a>                   
                                <li><a href="/community/web/communities?tid=149&amp;tid1=4837" id="edit-tid1-4837" name="tid1[4837]" class="bef-link">Collaborations</a>                  
                                <li><a href="/community/web/communities?tid=149&amp;tid1=4836" id="edit-tid1-4836" name="tid1[4836]" class="bef-link">Executive Summary</a>                  
                                <li><a href="/community/web/communities?tid=149&amp;tid1=4840" id="edit-tid1-4840" name="tid1[4840]" class="bef-link">In the Spotlight</a>                   
                                <li><a href="/community/web/communities?tid=149&amp;tid1=5340" id="edit-tid1-5340" name="tid1[5340]" class="bef-link">Initiatives</a>                  
                                <li><a href="/community/web/communities?tid=149&amp;tid1=5339" id="edit-tid1-5339" name="tid1[5339]" class="bef-link">Strategic Innovation Group</a>                  
                             </ul>
                          <li>
                             <a href="/community/web/communities?tid=149&amp;tid1=147" id="edit-tid1-147" name="tid1[147]" class="bef-link">Digital Transformation</a>                 
                             <ul class="inner">
                                <li>
                                   <a href="/community/web/communities?tid=149&amp;tid1=190" id="edit-tid1-190" name="tid1[190]" class="bef-link">Agritech</a>                   
                                   <ul class="inner">
                                      <li><a href="/community/web/communities?tid=149&amp;tid1=191" id="edit-tid1-191" name="tid1[191]" class="bef-link">Agritech Solutions</a>                 
                                   </ul>
                                <li>
                                   <a href="/community/web/communities?tid=149&amp;tid1=2845" id="edit-tid1-2845" name="tid1[2845]" class="bef-link">BFSI</a>                 
                                   <ul class="inner">
                                      <li><a href="/community/web/communities?tid=149&amp;tid1=216" id="edit-tid1-216" name="tid1[216]" class="bef-link">GST</a>                 
                                   </ul>
                                <li><a href="/community/web/communities?tid=149&amp;tid1=3112" id="edit-tid1-3112" name="tid1[3112]" class="bef-link">Energy &amp; Utilities</a>                   
                                <li><a href="/community/web/communities?tid=149&amp;tid1=3876" id="edit-tid1-3876" name="tid1[3876]" class="bef-link">Fintech</a>                   
                                <li><a href="/community/web/communities?tid=149&amp;tid1=2843" id="edit-tid1-2843" name="tid1[2843]" class="bef-link">HealthTech and Life Sciences</a>                   
                                <li><a href="/community/web/communities?tid=149&amp;tid1=2844" id="edit-tid1-2844" name="tid1[2844]" class="bef-link">Manufacturing</a>                   
                                <li><a href="/community/web/communities?tid=149&amp;tid1=5839" id="edit-tid1-5839" name="tid1[5839]" class="bef-link">Media Technology</a>                   
                                <li>
                                   <a href="/community/web/communities?tid=149&amp;tid1=178" id="edit-tid1-178" name="tid1[178]" class="bef-link">Smartcities</a>                   
                                   <ul class="inner">
                                      <li><a href="/community/web/communities?tid=149&amp;tid1=3034" id="edit-tid1-3034" name="tid1[3034]" class="bef-link">Smart Mobility</a>                  
                                   </ul>
                             </ul>
                          <li><a href="/community/web/communities?tid=149&amp;tid1=154" id="edit-tid1-154" name="tid1[154]" class="bef-link">Diversity And Inclusion</a>                  
                          <li>
                             <a href="/community/web/communities?tid=149&amp;tid1=1063" id="edit-tid1-1063" name="tid1[1063]" class="bef-link">Emerging tech</a>                 
                             <ul class="inner">
                                <li><a href="/community/web/communities?tid=149&amp;tid1=3477" id="edit-tid1-3477" name="tid1[3477]" class="bef-link">AI</a>                  
                                <li>
                                   <a href="/community/web/communities?tid=149&amp;tid1=148" id="edit-tid1-148" name="tid1[148]" class="bef-link">Big Data Analytics</a>                  
                                   <ul class="inner">
                                      <li><a href="/community/web/communities?tid=149&amp;tid1=183" id="edit-tid1-183" name="tid1[183]" class="bef-link">Analytics Case Studies</a>                   
                                      <li><a href="/community/web/communities?tid=149&amp;tid1=180" id="edit-tid1-180" name="tid1[180]" class="bef-link">NASSCOM Big Data &amp; Analytics Summit 2018</a>                  
                                   </ul>
                                <li><a href="/community/web/communities?tid=149&amp;tid1=181" id="edit-tid1-181" name="tid1[181]" class="bef-link">Blockchain</a>                   
                                <li><a href="/community/web/communities?tid=149&amp;tid1=150" id="edit-tid1-150" name="tid1[150]" class="bef-link">IOT</a>                 
                                <li><a href="/community/web/communities?tid=149&amp;tid1=3480" id="edit-tid1-3480" name="tid1[3480]" class="bef-link">RPA</a>                 
                             </ul>
                          <li>
                             <a href="/community/web/communities?tid=149&amp;tid1=1778" id="edit-tid1-1778" name="tid1[1778]" class="bef-link">Engineering Research &amp; Design</a>                  
                             <ul class="inner">
                                <li><a href="/community/web/communities?tid=149&amp;tid1=163" id="edit-tid1-163" name="tid1[163]" class="bef-link">Industry Trends</a>                 
                             </ul>
                          <li>
                             <a href="/community/web/communities?tid=149&amp;tid1=159" id="edit-tid1-159" name="tid1[159]" class="bef-link">Global In-House Centers</a>                   
                             <ul class="inner">
                                <li><a href="/community/web/communities?tid=149&amp;tid1=229" id="edit-tid1-229" name="tid1[229]" class="bef-link">GCC Conclave</a>                 
                             </ul>
                          <li><a href="/community/web/communities?tid=149&amp;tid1=160" id="edit-tid1-160" name="tid1[160]" class="bef-link">Global Trade</a>                 
                          <li>
                             <a href="/community/web/communities?tid=149&amp;tid1=3496" id="edit-tid1-3496" name="tid1[3496]" class="bef-link">Industry 4.0</a>                  
                             <ul class="inner">
                                <li><a href="/community/web/communities?tid=149&amp;tid1=189" id="edit-tid1-189" name="tid1[189]" class="bef-link">Co-creation Program For Industry 4.0</a>                 
                             </ul>
                          <li>
                             <a href="/community/web/communities?tid=149&amp;tid1=151" id="edit-tid1-151" name="tid1[151]" class="bef-link">IT Services</a>                   
                             <ul class="inner">
                                <li><a href="/community/web/communities?tid=149&amp;tid1=408" id="edit-tid1-408" name="tid1[408]" class="bef-link">Data Privacy</a>                 
                                <li><a href="/community/web/communities?tid=149&amp;tid1=203" id="edit-tid1-203" name="tid1[203]" class="bef-link">design4india</a>                 
                                <li><a href="/community/web/communities?tid=149&amp;tid1=4149" id="edit-tid1-4149" name="tid1[4149]" class="bef-link">e-Commerce</a>                   
                                <li><a href="/community/web/communities?tid=149&amp;tid1=4148" id="edit-tid1-4148" name="tid1[4148]" class="bef-link">Mobile &amp; Web Development</a>                   
                             </ul>
                          <li><a href="/community/web/communities?tid=149&amp;tid1=161" id="edit-tid1-161" name="tid1[161]" class="bef-link">Launch Pad</a>                   
                          <li><a href="/community/web/communities?tid=149&amp;tid1=2110" id="edit-tid1-2110" name="tid1[2110]" class="bef-link">Leader Talk</a>                  
                          <li>
                             <a href="/community/web/communities?tid=149&amp;tid1=482" id="edit-tid1-482" name="tid1[482]" class="bef-link">NASSCOM Insights</a>                 
                             <ul class="inner">
                                <li><a href="/community/web/communities?tid=149&amp;tid1=4624" id="edit-tid1-4624" name="tid1[4624]" class="bef-link">Community Newsletter</a>                  
                                <li><a href="/community/web/communities?tid=149&amp;tid1=4916" id="edit-tid1-4916" name="tid1[4916]" class="bef-link">Research Newsletter</a>                   
                             </ul>
                          <li>
                             <a href="/community/web/communities?tid=149&amp;tid1=3499" id="edit-tid1-3499" name="tid1[3499]" class="bef-link">NASSCOM Summits</a>                  
                             <ul class="inner">
                                <li><a href="/community/web/communities?tid=149&amp;tid1=206" id="edit-tid1-206" name="tid1[206]" class="bef-link">BPM Summit</a>                   
                                <li><a href="/community/web/communities?tid=149&amp;tid1=207" id="edit-tid1-207" name="tid1[207]" class="bef-link">BPM Summit 2018</a>                 
                                <li><a href="/community/web/communities?tid=149&amp;tid1=252" id="edit-tid1-252" name="tid1[252]" class="bef-link">csummit 2018</a>                 
                                <li><a href="/community/web/communities?tid=149&amp;tid1=197" id="edit-tid1-197" name="tid1[197]" class="bef-link">Design &amp; Engineering Summit</a>                   
                                <li><a href="/community/web/communities?tid=149&amp;tid1=249" id="edit-tid1-249" name="tid1[249]" class="bef-link">Design &amp; Engineering Summit 2018</a>                 
                                <li><a href="/community/web/communities?tid=149&amp;tid1=230" id="edit-tid1-230" name="tid1[230]" class="bef-link">GIC - Videos &amp; Presentations</a>                  
                                <li><a href="/community/web/communities?tid=149&amp;tid1=231" id="edit-tid1-231" name="tid1[231]" class="bef-link">GIC Conclave 2017</a>                  
                                <li><a href="/community/web/communities?tid=149&amp;tid1=248" id="edit-tid1-248" name="tid1[248]" class="bef-link">Hr Summit</a>                 
                                <li><a href="/community/web/communities?tid=149&amp;tid1=5962" id="edit-tid1-5962" name="tid1[5962]" class="bef-link">NASSCOM XperieceAI Virtual Summit 2020</a>                  
                                <li><a href="/community/web/communities?tid=149&amp;tid1=243" id="edit-tid1-243" name="tid1[243]" class="bef-link">NILF 2017</a>                 
                                <li><a href="/community/web/communities?tid=149&amp;tid1=250" id="edit-tid1-250" name="tid1[250]" class="bef-link">NPC 2017</a>                  
                                <li><a href="/community/web/communities?tid=149&amp;tid1=2457" id="edit-tid1-2457" name="tid1[2457]" class="bef-link">NPC 2019</a>                  
                                <li><a href="/community/web/communities?tid=149&amp;tid1=2115" id="edit-tid1-2115" name="tid1[2115]" class="bef-link">NTLF Forum 2020</a>                 
                                <li><a href="/community/web/communities?tid=149&amp;tid1=274" id="edit-tid1-274" name="tid1[274]" class="bef-link">NTLF Forum2019</a>                  
                                <li>
                                   <a href="/community/web/communities?tid=149&amp;tid1=198" id="edit-tid1-198" name="tid1[198]" class="bef-link">WCIT India 2018 I NASSCOM ILF 2018</a>                 
                                   <ul class="inner">
                                      <li><a href="/community/web/communities?tid=149&amp;tid1=200" id="edit-tid1-200" name="tid1[200]" class="bef-link">The Startup Showcase</a>                  
                                      <li><a href="/community/web/communities?tid=149&amp;tid1=199" id="edit-tid1-199" name="tid1[199]" class="bef-link">WCIT NILF 2018 Library</a>                   
                                   </ul>
                             </ul>
                          <li>
                             <a href="/community/web/communities?tid=149&amp;tid1=156" id="edit-tid1-156" name="tid1[156]" class="bef-link">Policy Advocacy</a>                  
                             <ul class="inner">
                                <li><a href="/community/web/communities?tid=149&amp;tid1=224" id="edit-tid1-224" name="tid1[224]" class="bef-link">GDPR</a>                   
                                <li><a href="/community/web/communities?tid=149&amp;tid1=4511" id="edit-tid1-4511" name="tid1[4511]" class="bef-link">Monthly Newsletters</a>                   
                             </ul>
                          <li><a href="/community/web/communities?tid=149&amp;tid1=153" id="edit-tid1-153" name="tid1[153]" class="bef-link">Product/Startups</a>                   
                          <li>
                             <a href="/community/web/communities?tid=149&amp;tid1=158" id="edit-tid1-158" name="tid1[158]" class="bef-link">Sales &amp; Marketing</a>                  
                             <ul class="inner">
                                <li><a href="/community/web/communities?tid=149&amp;tid1=221" id="edit-tid1-221" name="tid1[221]" class="bef-link">ASKSIG</a>                 
                             </ul>
                          <li>
                             <a href="/community/web/communities?tid=149&amp;tid1=5572" id="edit-tid1-5572" name="tid1[5572]" class="bef-link">SkillDev</a>                   
                             <ul class="inner">
                                <li><a href="/community/web/communities?tid=149&amp;tid1=5577" id="edit-tid1-5577" name="tid1[5577]" class="bef-link">Expert Blogs</a>                 
                                <li><a href="/community/web/communities?tid=149&amp;tid1=5576" id="edit-tid1-5576" name="tid1[5576]" class="bef-link">NASSCOM Product Council Event</a>                  
                                <li><a href="/community/web/communities?tid=149&amp;tid1=5573" id="edit-tid1-5573" name="tid1[5573]" class="bef-link">Popular at SkillDev</a>                   
                                <li><a href="/community/web/communities?tid=149&amp;tid1=5574" id="edit-tid1-5574" name="tid1[5574]" class="bef-link">SkillDev Featured</a>                  
                                <li><a href="/community/web/communities?tid=149&amp;tid1=5579" id="edit-tid1-5579" name="tid1[5579]" class="bef-link">SkillDev News</a>                   
                                <li><a href="/community/web/communities?tid=149&amp;tid1=5575" id="edit-tid1-5575" name="tid1[5575]" class="bef-link">SkillDev-Month-Wise</a>                   
                                <li><a href="/community/web/communities?tid=149&amp;tid1=5578" id="edit-tid1-5578" name="tid1[5578]" class="bef-link">Testimonials</a>                 
                             </ul>
                          <li>
                             <a href="/community/web/communities?tid=149&amp;tid1=4636" id="edit-tid1-4636" name="tid1[4636]" class="bef-link">SME Connect</a>                   
                             <ul class="inner">
                                <li><a href="/community/web/communities?tid=149&amp;tid1=4639" id="edit-tid1-4639" name="tid1[4639]" class="bef-link">Engagement</a>                   
                                <li><a href="/community/web/communities?tid=149&amp;tid1=4638" id="edit-tid1-4638" name="tid1[4638]" class="bef-link">Government Schemes</a>                 
                                <li><a href="/community/web/communities?tid=149&amp;tid1=4640" id="edit-tid1-4640" name="tid1[4640]" class="bef-link">Impact Stories</a>                  
                                <li><a href="/community/web/communities?tid=149&amp;tid1=4637" id="edit-tid1-4637" name="tid1[4637]" class="bef-link">Leader’s Lounge</a>                 
                                <li><a href="/community/web/communities?tid=149&amp;tid1=5010" id="edit-tid1-5010" name="tid1[5010]" class="bef-link">NASSCOM-SME Partnerships</a>                 
                                <li><a href="/community/web/communities?tid=149&amp;tid1=4816" id="edit-tid1-4816" name="tid1[4816]" class="bef-link">SME Advantage Program</a>                 
                             </ul>
                          <li>
                             <a href="/community/web/communities?tid=149&amp;tid1=149" id="edit-tid1-149" name="tid1[149]" class="bef-link">Talent &amp; Skills</a>                 
                             <ul class="inner">
                                <li><a href="/community/web/communities?tid=149&amp;tid1=3710" id="edit-tid1-3710" name="tid1[3710]" class="bef-link">Case studies</a>                 
                                <li><a href="/community/web/communities?tid=149&amp;tid1=3612" id="edit-tid1-3612" name="tid1[3612]" class="bef-link">EdTech</a>                 
                                <li><a href="/community/web/communities?tid=149&amp;tid1=218" id="edit-tid1-218" name="tid1[218]" class="bef-link">Future of jobs</a>                  
                                <li><a href="/community/web/communities?tid=149&amp;tid1=3709" id="edit-tid1-3709" name="tid1[3709]" class="bef-link">Newsletters</a>                  
                                <li><a href="/community/web/communities?tid=149&amp;tid1=219" id="edit-tid1-219" name="tid1[219]" class="bef-link">Reskilling stories</a>                 
                             </ul>
                          <li><a href="/community/web/communities?tid=149&amp;tid1=155" id="edit-tid1-155" name="tid1[155]" class="bef-link">Tech for Good</a>                   
                       </ul>
                    <li><a href="/community/web/communities?tid=149&amp;tid1=6003" id="edit-tid1-6003" name="tid1[6003]" class="bef-link">one more</a></li>
                 </ul>
               </div>
        </div>



        <div class="uk-width-expand uk-padding-small uk-padding-remove-top inner__page">

            <h2>Data Science & AI Community</h2>



            <ul class=" uk-child-width-1-3@s uk-child-width-1-3@m uk-flex report__grid">


                <li>
                    <div class="news-item uk-margin-small-bottom">
                        <div class="news-img uk-margin-small-bottom uk-transition-toggle">
                            <img class="uk-transition-scale-up uk-transition-opaque"
                                src="https://chimpzlab.tech/img/300x200?12432" class="uk-width-1-1" alt="news img"
                                width="300px" height="187px" />
                            <div class="uk-overlay uk-position-top-right uk-padding-remove">
                                <div class="  catname uk-background-primary">3565 conversations</div>
                            </div>
                        </div>
                        <div class="news-content uk-text-center">


                            <h4 class="uk-margin-remove-vertical uk-h5"><a href="community-detail.html">
                                    Release Readiness Trailblazers
                                </a>
                            </h4>

                        </div>

                    </div>
                </li>
                <li>
                    <div class="news-item uk-margin-small-bottom">
                        <div class="news-img uk-margin-small-bottom uk-transition-toggle">
                            <img class="uk-transition-scale-up uk-transition-opaque"
                                src="https://chimpzlab.tech/img/300x200?12c32g" class="uk-width-1-1" alt="news img"
                                width="300px" height="187px" />
                            <div class="uk-overlay uk-position-top-right uk-padding-remove">
                                <div class="  catname uk-background-primary">3565 conversations</div>
                            </div>
                        </div>
                        <div class="news-content  uk-text-center">


                            <h4 class="uk-margin-remove-vertical uk-h5"><a href="community-detail.html">
                                    Sales Cloud - Getting Started
                                </a>
                            </h4>

                        </div>

                    </div>
                </li>
                <li>
                    <div class="news-item uk-margin-small-bottom">
                        <div class="news-img uk-margin-small-bottom uk-transition-toggle">
                            <img class="uk-transition-scale-up uk-transition-opaque"
                                src="https://chimpzlab.tech/img/300x200?12c3e2" class="uk-width-1-1" alt="news img"
                                width="300px" height="187px" />
                            <div class="uk-overlay uk-position-top-right uk-padding-remove">
                                <div class="  catname uk-background-primary">400 conversations</div>
                            </div>
                        </div>
                        <div class="news-content uk-text-center">


                            <h4 class="uk-margin-remove-vertical uk-h5"><a href="community-detail.html">
                                    Customer Success


                                </a>
                            </h4>

                        </div>

                    </div>
                </li>

            </ul>







            <!-- <div class="uk-text-center">
                <button class="uk-button uk-button-small uk-button-primary uk-border-pill">Load
                    more</button>
            </div> -->
        </div>


    </div>

</div>
</div>
<script>
    $('.lazy li').each(function(i,e){
            if($(this).find('ul').length>0){
                    $(this).find('>a').addClass('toggle').addClass('uk-accordion-title');
                    $(this).find('ul').addClass('uk-list').addClass('uk-list-divider');
            }
    });

    $('.toggle').click(function (e) {
        e.preventDefault();

        var $this = $(this);

        if ($this.next().hasClass('show')) {
            $this.next().removeClass('show');
            $this.next().slideUp(350);
            $this.parent().removeClass('uk-open');
        } else {
            $this.parent().parent().find('li .inner').removeClass('show');
            $this.parent().parent().find('li .inner').slideUp(350);
            $this.next().toggleClass('show');
            $this.next().slideToggle(350);
            $this.parent().toggleClass('uk-open');
        }
    });
</script>
{{ include('footer/footer.html') }}