{{ include('header/header.html') }}
<div class="uk-cover-container uk-height-medium">
    <img src="https://chimpzlab.tech/img/1200x450" alt="" uk-cover height="400">

</div>

<div class="uk-section">
    <div class="uk-container">
        <ul class="uk-breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Knowledge Centre </a></li>
            <li><a href="#">Publications </a></li>

            <li><span>TECH BYTES – Monthly Tech Industry Bulletin – December 2020</span></li>
        </ul>

    </div>
</div>

<div class="uk-section-full uk-section-free uk-section">
    <div class="uk-container">

        <article class="uk-article">
            <h1 class="uk-article-title"> TECH BYTES – Monthly Tech Industry Bulletin – December 2020
            </h1>

            <div uk-grid>
                <div class="uk-width-1-2@m">
                    <img src="https://chimpzlab.tech/img/600x315?1203h" alt="PDF Screenshoot" />
                </div>
                <div class="uk-width-1-2@m " >
                    <h2 class="uk-h3">Overview</h2>
                    <div class="pdf__content" data-scrollbar>
                    <p>This monthly industry bulletin is our endeavor to aggregate and feature on a regular
                        basis, key trends and insights shaping the technology sector. The information covered
                        here is collated from publicly available sources and gives a bird’s eye view of what has
                        happened in the technology sector during a particular month.

                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit, totam et adipisci nesciunt cum
                        nobis quas delectus quasi, omnis porro aperiam maxime ut ab perspiciatis voluptates soluta.
                        Placeat, fuga nesciunt!</p>
                        <p>This monthly industry bulletin is our endeavor to aggregate and feature on a regular
                        basis, key trends and insights shaping the technology sector. The information covered
                        here is collated from publicly available sources and gives a bird’s eye view of what has
                        happened in the technology sector during a particular month.

                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit, totam et adipisci nesciunt cum
                        nobis quas delectus quasi, omnis porro aperiam maxime ut ab perspiciatis voluptates soluta.
                        Placeat, fuga nesciunt!</p>
                    <div class="uk-article-meta" uk-alert>
                        <i class="fa fa-file-pdf"></i> Available in Soft Copy Only

                    </div>
                </div>
                </div>
            </div>
        </article>

    </div>
</div>

<div class="uk-section uk-section-free uk-background-muted" style="">
    <div class="uk-container">
        <h2 class="uk-h2 uk-text-uppercase">
            KEY FINDINGS
        </h2>
        <div uk-slider class="key__findings">
            <div class="uk-position-relative">
                <div class="uk-slider-container">
                    <div class="uk-slider-items uk-child-width-1-4@s uk-child-width-1-4@m uk-grid ">

                        <div>
                            <div class="uk-card uk-card-default uk-card-body ">
                                <div class="key__step">
                                    1
                                </div>


                                <h3 class="uk-card-title">Road to Recovery
                                </h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos officia porro
                                    eum? Eos veniam quod hic itaque quam. Vel quidem consequuntur culpa, quia vero
                                    aspernatur ullam nisi rem enim fugit?
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body">
                                <div class="key__step">
                                    2
                                </div>
                                <h3 class="uk-card-title">Technology sector
                                </h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos officia porro
                                    eum? Eos veniam quod hic itaque quam. Vel quidem consequuntur culpa, quia vero
                                    aspernatur ullam nisi rem enim fugit?
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body">
                                <div class="key__step">
                                    3
                                </div>
                                <h3 class="uk-card-title">Cybersecurity Insights
                                </h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos officia porro
                                    eum? Eos veniam quod hic itaque quam. Vel quidem consequuntur culpa, quia vero
                                    aspernatur ullam nisi rem enim fugit?
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body">
                                <div class="key__step">
                                    4
                                </div>
                                <h3 class="uk-card-title">Blockchain Insights

                                </h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos officia porro
                                    eum? Eos veniam quod hic itaque quam. Vel quidem consequuntur culpa, quia vero
                                    aspernatur ullam nisi rem enim fugit?
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body">
                                <div class="key__step">
                                    5
                                </div>
                                <h3 class="uk-card-title">Blockchain Insights

                                </h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos officia porro
                                    eum? Eos veniam quod hic itaque quam. Vel quidem consequuntur culpa, quia vero
                                    aspernatur ullam nisi rem enim fugit?
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body">
                                <div class="key__step">
                                    6
                                </div>
                                <h3 class="uk-card-title">Blockchain Insights

                                </h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos officia porro
                                    eum? Eos veniam quod hic itaque quam. Vel quidem consequuntur culpa, quia vero
                                    aspernatur ullam nisi rem enim fugit?
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body">
                                <div class="key__step">
                                    7
                                </div>
                                <h3 class="uk-card-title">Blockchain Insights

                                </h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos officia porro
                                    eum? Eos veniam quod hic itaque quam. Vel quidem consequuntur culpa, quia vero
                                    aspernatur ullam nisi rem enim fugit?
                                </p>
                            </div>
                        </div>
                    </div>

                    <a class="uk-position-center-left-out uk-position-small  uk-slidenav" href="#"
                        uk-slider-item="previous"><i class="fa fa-angle-left"></i></a>
                    <a class="uk-position-center-right-out uk-position-small uk-slidenav" href="#"
                        uk-slider-item="next"><i class="fa fa-angle-right"></i></a>
                </div>

            </div>
        </div>
    </div>


    <div class="uk-section-full uk-section-free uk-section-xlarge">
        <div class="uk-container uk-text-center">
            <h3 class="uk-text-uppercase">Get The Report
            </h3>
            <p>Download the report and get detailed insights on the sector.

            </p>

            <div class="uk-child-width-1-1@s uk-grid-small uk-grid-match price__table" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-body uk-text-center">
                        <h3 class="uk-card-title">Regular
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos officia porro eum? Eos
                            veniam quod hic itaque quam. Vel quidem consequuntur culpa, quia vero aspernatur ullam nisi
                            rem enim fugit?
                        </p>
                        <p>Price <span class="uk-label">Free</span>
                        </p>
                        <a class="uk-button uk-button-primary uk-border-pill">DOWNLOAD</a>
                    </div>
                </div>
                <!-- <div>
                <div class="uk-card uk-card-default uk-card-body uk-text-center">
                    <h3 class="uk-card-title">Member 
                    </h3>
                    <p>Price <span class="uk-label">Free</span>
                    </p>
                    <a class="uk-button uk-button-primary uk-border-pill">MEMBER LOGIN</a>
                    <p>NASSCOM Members -login to download the report.

                    </p>
                </div>
            </div> -->


            </div>



        </div>
    </div>


    <!-- Leaders Talk -->
    <div class="uk-section uk-padding-small" id="related__reports">
        <div class="uk-container">
            <div class="uk-flex-row has__divider">
                <div class="uk-child-width-1-2@s uk-grid-large uk-grid-match  uk-grid ">
                    <div class="uk-width-1-2@s">
                        <h2
                            class="uk-dark uk-h3 uk-text-uppercase uk-margin-medium-bottom uk-text-primary uk-text-center">
                            Related Reports

                        </h2>
                        <div uk-slider>
                            <div class="uk-position-relative">

                                <div class="uk-slider-container">


                                    <ul class="uk-slider-items uk-child-width-1-2@s uk-child-width-1-2@m uk-grid">
                                        <li>
                                            <div class="news-item uk-margin-small-bottom">
                                                <div class="news-img uk-margin-small-bottom uk-transition-toggle">
                                                    <img src="https://chimpzlab.tech/img/300x200?12332"
                                                        class="uk-width-1-1 uk-transition-scale-up uk-transition-opaque"
                                                        alt="news img" width="300px" height="187px" />
                                                </div>
                                                <div class="news-content">
                                                    <div
                                                        class="catname uk-background-primary uk-display-inline uk-padding-small uk-padding-remove-vertical uk-border-pill uk-margin-small-bottom">
                                                        Free for all</div>
                                                    <div class="listing__meta">
                                                        <i class="fa fa-calendar"></i> <span
                                                            class="uk-margin-small-right post-date">October 20,
                                                            2020</span>
                                                        <i class="fa fa-eye"></i><span
                                                            class=" post-view uk-margin-small-right">20</span> <i
                                                            class="fa fa-thumbs-up"></i> 40

                                                    </div>
                                                    <h4 class="uk-margin-remove-vertical uk-h5"><a href="">
                                                            The role of IT in ensuring holistic
                                                            CSR
                                                            practices and business sustainability
                                                        </a>
                                                    </h4>

                                                </div>

                                            </div>
                                        </li>
                                        <li>
                                            <div class="news-item uk-margin-small-bottom">
                                                <div class="news-img uk-margin-small-bottom uk-transition-toggle">
                                                    <img src="https://chimpzlab.tech/img/300x200?1232"
                                                        class="uk-width-1-1 uk-transition-scale-up uk-transition-opaque"
                                                        alt="news img" width="300px" height="187px" />
                                                </div>
                                                <div class="news-content">
                                                    <div
                                                        class="catname uk-background-primary uk-display-inline uk-padding-small uk-padding-remove-vertical uk-border-pill uk-margin-small-bottom">
                                                        Free for all</div>
                                                    <div class="listing__meta">
                                                        <i class="fa fa-calendar"></i> <span
                                                            class="uk-margin-small-right post-date">October 20,
                                                            2020</span>
                                                        <i class="fa fa-eye"></i><span
                                                            class=" post-view uk-margin-small-right">20</span> <i
                                                            class="fa fa-thumbs-up"></i> 40

                                                    </div>
                                                    <h4 class="uk-margin-remove-vertical uk-h5"><a href="">
                                                            Impact of COVID on cancer treatment
                                                            in
                                                            India
                                                        </a>
                                                    </h4>

                                                </div>

                                            </div>
                                        </li>
                                        <li>
                                            <div class="news-item uk-margin-small-bottom">
                                                <div class="news-img uk-margin-small-bottom uk-transition-toggle">
                                                    <img src="https://chimpzlab.tech/img/300x200?12432"
                                                        class="uk-width-1-1 uk-transition-scale-up uk-transition-opaque"
                                                        alt="news img" width="300px" height="187px" />
                                                </div>
                                                <div class="news-content">
                                                    <div
                                                        class="catname uk-background-primary uk-display-inline uk-padding-small uk-padding-remove-vertical uk-border-pill uk-margin-small-bottom">
                                                        Free for all</div>
                                                    <div class="listing__meta">
                                                        <i class="fa fa-calendar"></i> <span
                                                            class="uk-margin-small-right post-date">October 20,
                                                            2020</span>
                                                        <i class="fa fa-eye"></i><span
                                                            class=" post-view uk-margin-small-right">20</span> <i
                                                            class="fa fa-thumbs-up"></i> 40

                                                    </div>
                                                    <h4 class="uk-margin-remove-vertical uk-h5"><a href="">
                                                            Tier 3 Cities & Rural India – Growth
                                                            Drivers for Indian Businesses?
                                                        </a>
                                                    </h4>

                                                </div>

                                            </div>
                                        </li>


                                    </ul>

                                    <span></span>
                                </div>
                                <a class="uk-position-center-left-out uk-position-small  uk-slidenav" href="#"
                                    uk-slider-item="previous"><i class="fa fa-angle-left"></i></a>
                                <a class="uk-position-center-right-out uk-position-small uk-slidenav" href="#"
                                    uk-slider-item="next"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-2@s">
                        <h2
                            class="uk-dark uk-h3 uk-text-uppercase uk-margin-medium-bottom uk-text-primary uk-text-center">
                            Recommended Reports

                        </h2>
                        <div uk-slider>
                            <div class="uk-position-relative">

                                <div class="uk-slider-container">


                                    <ul class="uk-slider-items uk-child-width-1-2@s uk-child-width-1-2@m uk-grid">
                                        <li>
                                            <div class="news-item uk-margin-small-bottom">
                                                <div class="news-img uk-margin-small-bottom uk-transition-toggle">
                                                    <img src="https://chimpzlab.tech/img/300x200?12h332"
                                                        class="uk-width-1-1 uk-transition-scale-up uk-transition-opaque"
                                                        alt="news img" width="300px" height="187px" />
                                                </div>
                                                <div class="news-content">
                                                    <div
                                                        class="catname uk-background-primary uk-display-inline uk-padding-small uk-padding-remove-vertical uk-border-pill uk-margin-small-bottom">
                                                        Free for all</div>
                                                    <div class="listing__meta">
                                                        <i class="fa fa-calendar"></i> <span
                                                            class="uk-margin-small-right post-date">October 20,
                                                            2020</span>
                                                        <i class="fa fa-eye"></i><span
                                                            class=" post-view uk-margin-small-right">20</span> <i
                                                            class="fa fa-thumbs-up"></i> 40

                                                    </div>
                                                    <h4 class="uk-margin-remove-vertical uk-h5"><a href="">
                                                            The role of IT in ensuring holistic
                                                            CSR
                                                            practices and business sustainability
                                                        </a>
                                                    </h4>

                                                </div>

                                            </div>
                                        </li>
                                        <li>
                                            <div class="news-item uk-margin-small-bottom">
                                                <div class="news-img uk-margin-small-bottom uk-transition-toggle">
                                                    <img src="https://chimpzlab.tech/img/300x200?12h32"
                                                        class="uk-width-1-1 uk-transition-scale-up uk-transition-opaque"
                                                        alt="news img" width="300px" height="187px" />
                                                </div>
                                                <div class="news-content">
                                                    <div
                                                        class="catname uk-background-primary uk-display-inline uk-padding-small uk-padding-remove-vertical uk-border-pill uk-margin-small-bottom">
                                                        Free for all</div>
                                                    <div class="listing__meta">
                                                        <i class="fa fa-calendar"></i> <span
                                                            class="uk-margin-small-right post-date">October 20,
                                                            2020</span>
                                                        <i class="fa fa-eye"></i><span
                                                            class=" post-view uk-margin-small-right">20</span> <i
                                                            class="fa fa-thumbs-up"></i> 40

                                                    </div>
                                                    <h4 class="uk-margin-remove-vertical uk-h5"><a href="">
                                                            Impact of COVID on cancer treatment
                                                            in
                                                            India
                                                        </a>
                                                    </h4>

                                                </div>

                                            </div>
                                        </li>
                                        <li>
                                            <div class="news-item uk-margin-small-bottom">
                                                <div class="news-img uk-margin-small-bottom uk-transition-toggle">
                                                    <img src="https://chimpzlab.tech/img/300x200?1232h"
                                                        class="uk-width-1-1 uk-transition-scale-up uk-transition-opaque"
                                                        alt="news img" width="300px" height="187px" />
                                                </div>
                                                <div class="news-content">
                                                    <div
                                                        class="catname uk-background-primary uk-display-inline uk-padding-small uk-padding-remove-vertical uk-border-pill uk-margin-small-bottom">
                                                        Free for all</div>
                                                    <div class="listing__meta">
                                                        <i class="fa fa-calendar"></i> <span
                                                            class="uk-margin-small-right post-date">October 20,
                                                            2020</span>
                                                        <i class="fa fa-eye"></i><span
                                                            class=" post-view uk-margin-small-right">20</span> <i
                                                            class="fa fa-thumbs-up"></i> 40

                                                    </div>
                                                    <h4 class="uk-margin-remove-vertical uk-h5"><a href="">
                                                            Impact of COVID on cancer treatment
                                                            in
                                                            India
                                                        </a>
                                                    </h4>

                                                </div>

                                            </div>
                                        </li>



                                    </ul>

                                    <span></span>
                                </div>
                                <a class="uk-position-center-left-out uk-position-small  uk-slidenav" href="#"
                                    uk-slider-item="previous"><i class="fa fa-angle-left"></i></a>
                                <a class="uk-position-center-right-out uk-position-small uk-slidenav" href="#"
                                    uk-slider-item="next"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Leaders Talk -->
    {{ include('footer/footer.html') }}