{{ include('header/header.html') }}
  

<div class="uk-cover-container uk-height-medium">
    <img src="https://chimpzlab.tech/img/1200x450?v" alt="" uk-cover height="400">
    <div class="uk-container">
        <div class="uk-overlay uk-overlay-primary uk-position-bottom">
            <h1>
                COMMUNITIES
            </h1>
            <p>An online repository of NASSCOM Research Reports that track industry trends and opportunities.
            </p>
        </div>
    </div>

</div>

<div class="uk-section">
    <div class="uk-container">
    <ul class="uk-breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="communities.html">Communities</a></li>
        <li><span>Industry Groups
        </span></li>
    </ul>
    
    </div>
    </div>

        <!-- Leaders Talk -->
        <div class="uk-section uk-padding-small card__slider" >
            <div class="uk-container">
             
                <div class="uk-flex-row">
                   
                   
                       
                    <ul class="uk-grid comm__grid">

                        <li class="uk-width-1-1@s uk-margin-small-bottom">
                            <div class="news-item uk-margin-small-bottom">
                             
                                <div class="news-content">
                                    <div
                                        class="catname uk-background-primary uk-display-inline uk-padding-small uk-padding-remove-vertical uk-border-pill uk-margin-small-bottom">
                                        Community</div>
                                        <h4 class="uk-margin-small uk-h5"><a href="news-detail.html">
                                            ‘Managing to Stay Ahead’ in times of COVID-19
                                        </a>
                                        </h4>
                                    <div class="listing__meta">
                                        <i class="fa fa-calendar"></i> <span
                                            class="uk-margin-small-right post-date">October 20, 2020</span>
                                        <i class="fa fa-eye"></i><span
                                            class=" post-view uk-margin-small-right">20</span> <i
                                            class="fa fa-thumbs-up"></i> 40

                                    </div>
                                 
<p>Until December 2019, the phrase ‘2020’ was a reminder of the Twenty20 (T20) cricket format to which I constantly lost the attention of my family and loved ones. Little did I know that the year 2020 will shake and uproot the norms and beliefs that we have considered as constants for most of our lives. That this will bring forth the fear of worrying about the safety of our loved ones on a daily basis and we will be forced to operate each and every step mindfully when interacting with the world outside. That we will be challenged to find new paradigms almost overnight. That laptop, iPad, and other device cameras will be our lens through which and only which, we will connect with the world. Those medical devices as thermometer and pulse oximeter will find a way in our hourly lives sometimes. W...

</p>
                                </div>

                            </div>
                            <hr class="uk-divider-icon">

                        </li>      
                        
                        <li class="uk-width-1-1@s">
                            <div class="news-item uk-margin-small-bottom">
                             
                                <div class="news-content">
                                    <div
                                        class="catname uk-background-primary uk-display-inline uk-padding-small uk-padding-remove-vertical uk-border-pill uk-margin-small-bottom">
                                        Community</div>
                                        <h4 class="uk-margin-small uk-h5"><a href="news-detail.html">
                                            SIX WAYS TO FOSTER EMPLOYEE WELL-BEING AMIDST PANDEMIC BLUES
                                        </a>
                                        </h4>
                                    <div class="listing__meta">
                                        <i class="fa fa-calendar"></i> <span
                                            class="uk-margin-small-right post-date">October 20, 2020</span>
                                        <i class="fa fa-eye"></i><span
                                            class=" post-view uk-margin-small-right">20</span> <i
                                            class="fa fa-thumbs-up"></i> 40

                                    </div>
                                 
<p>2020 has been quite a transition for employees across the world. The sudden need for adopting remote work at a global scale seemed daunting at first. However, with many months into the transition, the novelty enveloping the change has deteriorated. Corporate juggernauts have successfully established several necessary practices to avoid catastrophic setbacks. What seemed like an impossible change earlier has become the fabric of a typical workday. There is one thing that this experience has invariably taught companies all over. A happy and engaged workforce is the lifeblood of all corporate organisations. When employees crash and burn, organisations crash and burn with them. So, companies must take an inventory of the problems threatening employee well-being. However, that warrants answerin...


</p>
                                </div>

                            </div>
                            <hr class="uk-divider-icon">

                        </li>
           
                    </ul>

                   
                </div>

                <ul class="uk-pagination uk-flex-center" uk-margin>
                    <li><a href="#"><span uk-pagination-previous></span></a></li>
                    <li><a href="#">1</a></li>
                    <li class="uk-disabled"><span>...</span></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li class="uk-active"><span>7</span></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#"><span uk-pagination-next></span></a></li>
                </ul>
                
            </div>
        </div>
        <!-- End Leaders Talk -->   
        


        {{ include('global/ad_h.html') }}
  
 

        
 
{{ include('footer/footer.html') }}
