<div class="uk-section uk-padding-small" id="events">
    <div class="uk-container">
        <div class="uk-clearfix uk-form">
            <h3 class="uk-h2 uk-text-primary uk-align-left uk-text-uppercase">Events</h3>
            <a href="#" class="uk-text-upper uk-button uk-button-primary uk-align-right uk-border-pill"><i
                    class="fa fa-calendar"></i> View Calendar</a>
            <div uk-dropdown="mode: click">
                <ul class="uk-nav uk-dropdown-nav">
                    <li><a href="#">02-02-2021</a></li>
                    <li><a href="#">05-02-2021</a></li>
                    <li><a href="#">10-02-2021</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="#">View All Events</a></li>
                </ul>
            </div>


        </div>
        <div class="uk-grid">

            <div class="uk-width-3-5@m uk-margin-medium-bottom">


                <div class="uk-flex uk-background-muted uk-flex-wrap">
                    <div class="uk-width-3-5@s event__image uk-light">

                        <img src="http://chimpzlab.tech/img/400x250" class="uk-width-1-1" alt="news img" />
                        <div class="event__caption uk-padding-small uk-height-1-1 uk-position-relative">
                           <a href="#"> Evenet
                                Name Will go here Lorem ipsum dolor sit amet consectetur</a>
                        
                            <div class="uk-badge">
                                <em>11</em>
                                <span>Jan</span>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-2-5@s uk-padding-small">
                        <div
                            class="event-content uk-flex uk-flex-column uk-flex-inline uk-height-1-1 uk-width-1-1">
                           
                            <h4 class="uk-margin-remove-vertical">
                                Event Information
                            </h4>
                            <div class="uk-overflow-hidden">
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto neque
                                    natus sequi labore, autem blanditiis ipsam cumque magni! Dolore facere alias
                                    totam expedita modi unde eaque consectetur. Pariatur, dolor labore?</p>
                            </div>
                            <a href=""
                                class="uk-button uk-button-primary uk-border-pill uk-margin-auto-top">Register
                                Now</a>

                            <div
                                class="uk-text-center uk-background-secondary uk-light uk-width-1-1 uk-card uk-card-default uk-margin-small-top">
                                <span class="event_countdown__heading">Time Left to Register</span>
                                <div class="countdown uk-flex uk-text-center uk-text-secondary" id="clockdiv"
                                    data-deadline="2021-12-23">
                                    <div class="uk-width-1-4">
                                        <div class="days"></div>
                                        <span>DAYS</span>
                                    </div>
                                    <div class="uk-width-1-4">
                                        <div class="hours"></div>
                                        <span>HRS</span>
                                    </div>
                                    <div class="uk-width-1-4">
                                        <div class="minutes"></div>
                                        <span>MIN</span>
                                    </div>
                                    <div class="uk-width-1-4">
                                        <div class="seconds"></div>
                                        <span>SEC</span>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>

            </div>


            <div class="uk-width-2-5@m">


                <div class=" uk-clearfix">


                    <h3 class="uk-text-primary uk-text-uppercase">Upcoming Events</h3>
                </div>

                <div class="event_list" data-scrollbar>

                    <div class="event__caption uk-height-1-1 uk-position-relative">
                      
                        <a href="#">Evenet Name Will go here Lorem ipsum natus sequi labore, autem blanditiis ipsam </a>
                        <div class="uk-badge">
                            <em>11</em>
                            <span>Jan</span>
                        </div>
                    </div>
                    <div class="event__caption uk-height-1-1 uk-position-relative">
                      
                        <a href="#">Evenet Name Will go here Lorem ipsum natus sequi labore, autem blanditiis ipsam</a>
                        <div class="uk-badge">
                            <em>11</em>
                            <span>Jan</span>
                        </div>
                    </div>
                    <div class="event__caption uk-height-1-1 uk-position-relative">
                    
                        <a href="#">Evenet Name Will go here Lorem ipsum natus sequi labore, autem blanditiis ipsam</a>
                        <div class="uk-badge">
                            <em>11</em>
                            <span>Jan</span>
                        </div>
                    </div>
                    <div class="event__caption uk-height-1-1 uk-position-relative">
                       
                        <a href="#">Evenet Name Will go here Lorem ipsum natus sequi labore, autem blanditiis ipsam </a>
                        <div class="uk-badge">
                            <em>11</em>
                            <span>Jan</span>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
