<!-- Sticky Posts  -->
<div id="sticky__posts" class="fixed">
    <a href="#" id="slide_toggle" class="uk-position-absolute uk-position-right blinker">TOPICS IN DEMAND</a>

    <div class="uk-grid uk-grid-column-small">
        <div class="uk-width-1-2@m">
            <div class="uk-flex uk-flex-middle heading__holder">
                <h5 class="uk-dark uk-text-uppercase uk-h5 uk-text-primary">trending keywords </h5>
            </div>


            <div class="latest-blog uk-margin-small-bottom" >
                <div class="news-img uk-margin-small-bottom uk-transition-toggle">
                    <a href="#" class="uk-inline community__thumb">
                        <img class="uk-transition-scale-up uk-transition-opaque"
                        src="http://chimpzlab.tech/img/400x350" class="uk-width-1-1" alt="news img"
                        width="400px" height="250px" />
                        <span class="uk-overlay uk-light uk-position-bottom">Cyber Security & Privacy (2100)</span>

                    </a> 
                </div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet sequi veritatis dolor aspernatur quas </p>
            </div>
        </div>
        <div class="uk-width-1-2@s ">


            <div class="uk-flex uk-flex-middle heading__holder uk-clearfix">
                <a class="uk-margin-auto-left uk-button uk-button-primary uk-border-pill uk-button-small"
                    href="#">View More</a>
            </div>
            <div class="latest-blog uk-margin-small-bottom" >
                <div class="news-img uk-margin-small-bottom uk-transition-toggle">
                    <a href="#" class="uk-inline community__thumb">
                        <img class="uk-transition-scale-up uk-transition-opaque"
                        src="http://chimpzlab.tech/img/400x350?D" class="uk-width-1-1" alt="news img"
                        width="400px" height="250px" />
                        <span class="uk-overlay uk-light uk-position-bottom">Data Science & AI Community                            (2500)</span>

                    </a> 
                </div>
                <p>beatae aut totam deleniti libero illo repellendus rem, ullam tempora dignissimos. Praesentium, dolor porro. Cumque, sunt</p>
            </div>
        </div>
    </div>
</div>
<!-- Sticky Posts  -->



<div  uk-modal id="landingbanner">
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
     <img src="images/popup_img.jpeg">
    </div>
</div>
<script>
    //set tim out or whatever
    UIkit.modal('#landingbanner').show();
</script>