        <!-- Leaders Talk -->
        <div class="uk-section uk-padding-small" id="leaders_talk">
            <div class="uk-container">
                <div class="uk-flex-row">
                    <h2 class="uk-dark uk-h2 uk-text-uppercase uk-margin-medium-bottom uk-text-primary">LeaderTalk</h2>
                    <div uk-slider>
                        <div class="uk-position-relative">

                            <div class="uk-slider-container">


                                <ul class="uk-slider-items uk-child-width-1-3@s uk-child-width-1-4@m uk-grid">
                                    <li>
                                        <div class="news-item uk-margin-small-bottom">
                                            <div class="news-img uk-margin-small-bottom uk-transition-toggle">
                                                <img src="http://chimpzlab.tech/img/300x200?12332"
                                                    class="uk-width-1-1 uk-transition-scale-up uk-transition-opaque"
                                                    alt="news img" width="300px" height="187px" />
                                            </div>
                                            <div class="news-content">
                                                <div
                                                    class="catname uk-background-primary uk-display-inline uk-padding-small uk-padding-remove-vertical uk-border-pill uk-margin-small-bottom">
                                                    Community</div>
                                                <div class="listing__meta">
                                                    <i class="fa fa-calendar"></i> <span
                                                        class="uk-margin-small-right post-date">October 20, 2020</span>
                                                    <i class="fa fa-eye"></i><span
                                                        class=" post-view uk-margin-small-right">20</span> <i
                                                        class="fa fa-thumbs-up"></i> 40

                                                </div>
                                                <h4 class="uk-margin-remove-vertical uk-h5"><a href="">
                                                        The role of IT in ensuring holistic
                                                        CSR
                                                        practices and business sustainability
                                                    </a>
                                                </h4>

                                            </div>

                                        </div>
                                    </li>
                                    <li>
                                        <div class="news-item uk-margin-small-bottom">
                                            <div class="news-img uk-margin-small-bottom uk-transition-toggle">
                                                <img src="http://chimpzlab.tech/img/300x200?1232"
                                                    class="uk-width-1-1 uk-transition-scale-up uk-transition-opaque"
                                                    alt="news img" width="300px" height="187px" />
                                            </div>
                                            <div class="news-content">
                                                <div
                                                    class="catname uk-background-primary uk-display-inline uk-padding-small uk-padding-remove-vertical uk-border-pill uk-margin-small-bottom">
                                                    Community</div>
                                                <div class="listing__meta">
                                                    <i class="fa fa-calendar"></i> <span
                                                        class="uk-margin-small-right post-date">October 20, 2020</span>
                                                    <i class="fa fa-eye"></i><span
                                                        class=" post-view uk-margin-small-right">20</span> <i
                                                        class="fa fa-thumbs-up"></i> 40

                                                </div>
                                                <h4 class="uk-margin-remove-vertical uk-h5"><a href="">
                                                        Impact of COVID on cancer treatment
                                                        in
                                                        India
                                                    </a>
                                                </h4>

                                            </div>

                                        </div>
                                    </li>
                                    <li>
                                        <div class="news-item uk-margin-small-bottom">
                                            <div class="news-img uk-margin-small-bottom uk-transition-toggle">
                                                <img src="http://chimpzlab.tech/img/300x200?12432"
                                                    class="uk-width-1-1 uk-transition-scale-up uk-transition-opaque"
                                                    alt="news img" width="300px" height="187px" />
                                            </div>
                                            <div class="news-content">
                                                <div
                                                    class="catname uk-background-primary uk-display-inline uk-padding-small uk-padding-remove-vertical uk-border-pill uk-margin-small-bottom">
                                                    Community</div>
                                                <div class="listing__meta">
                                                    <i class="fa fa-calendar"></i> <span
                                                        class="uk-margin-small-right post-date">October 20, 2020</span>
                                                    <i class="fa fa-eye"></i><span
                                                        class=" post-view uk-margin-small-right">20</span> <i
                                                        class="fa fa-thumbs-up"></i> 40

                                                </div>
                                                <h4 class="uk-margin-remove-vertical uk-h5"><a href="">
                                                        Tier 3 Cities & Rural India – Growth
                                                        Drivers for Indian Businesses?
                                                    </a>
                                                </h4>

                                            </div>

                                        </div>
                                    </li>
                                    <li>
                                        <div class="news-item uk-margin-small-bottom">
                                            <div class="news-img uk-margin-small-bottom uk-transition-toggle">
                                                <img src="http://chimpzlab.tech/img/300x200?12332"
                                                    class="uk-width-1-1 uk-transition-scale-up uk-transition-opaque"
                                                    alt="news img" width="300px" height="187px" />
                                            </div>
                                            <div class="news-content">
                                                <div
                                                    class="catname uk-background-primary uk-display-inline uk-padding-small uk-padding-remove-vertical uk-border-pill uk-margin-small-bottom">
                                                    Community</div>
                                                <div class="listing__meta">
                                                    <i class="fa fa-calendar"></i> <span
                                                        class="uk-margin-small-right post-date">October 20, 2020</span>
                                                    <i class="fa fa-eye"></i><span
                                                        class=" post-view uk-margin-small-right">20</span> <i
                                                        class="fa fa-thumbs-up"></i> 40

                                                </div>
                                                <h4 class="uk-margin-remove-vertical uk-h5"><a href="">
                                                        The role of IT in ensuring holistic
                                                        CSR
                                                        practices and business sustainability
                                                    </a>
                                                </h4>

                                            </div>

                                        </div>
                                    </li>
                                    <li>
                                        <div class="news-item uk-margin-small-bottom">
                                            <div class="news-img uk-margin-small-bottom uk-transition-toggle">
                                                <img src="http://chimpzlab.tech/img/300x200?12c32"
                                                    class="uk-width-1-1 uk-transition-scale-up uk-transition-opaque"
                                                    alt="news img" width="300px" height="187px" />
                                            </div>
                                            <div class="news-content">
                                                <div
                                                    class="catname uk-background-primary uk-display-inline uk-padding-small uk-padding-remove-vertical uk-border-pill uk-margin-small-bottom">
                                                    Community</div>
                                                <div class="listing__meta">
                                                    <i class="fa fa-calendar"></i> <span
                                                        class="uk-margin-small-right post-date">October 20, 2020</span>
                                                    <i class="fa fa-eye"></i><span
                                                        class=" post-view uk-margin-small-right">20</span> <i
                                                        class="fa fa-thumbs-up"></i> 40

                                                </div>
                                                <h4 class="uk-margin-remove-vertical uk-h5"><a href="">
                                                        Redesigned people practices of
                                                        Indian IT

                                                    </a>
                                                </h4>

                                            </div>

                                        </div>
                                    </li>
                                </ul>

                                <span></span>
                            </div>
                            <a class="uk-position-center-left-out uk-position-small  uk-slidenav" href="#"
                                uk-slider-item="previous"><i class="fa fa-angle-left"></i></a>
                            <a class="uk-position-center-right-out uk-position-small uk-slidenav" href="#"
                                uk-slider-item="next"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Leaders Talk -->
