       <!-- Social Posts -->
       <div class="uk-section uk-padding-small uk-background-muted" id="social_posts">
        <div class="uk-container">
            <div class="uk-flex-row">
                <div class="social_col_1">
                    <div class="uk-grid">
                        <div class="uk-width-1-2@m uk-margin-small-bottom">
                            <div class="uk-flex uk-flex-middle heading__holder">
                                <h2 class="uk-dark uk-text-uppercase uk-h2 uk-text-primary uk-margin-remove">
                                    INSIGHT LIVE</h2>
                                <i style="color:#37b1e2" class="fa fa-twitter fa-2x uk-margin-auto-left"></i>
                            </div>

                            <br />
                            <a class="twitter-timeline" data-height="480"
                                href="https://twitter.com/NasscomR?ref_src=twsrc%5Etfw">Tweets by NasscomR</a>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                        </div>
                        <div class="uk-width-1-2@m uk-margin-small-bottom">


                            <div class="uk-flex uk-flex-middle heading__holder uk-clearfix"
                                style="min-height:50px;">
                                <i style="color:#2078b6" class="fa fa-linkedin fa-2x uk-margin-auto-left"></i>

                            </div>
                            <br />
                            <div class='sk-linkedin-event' data-embed-id='51505'></div>
                            <script src='https://www.sociablekit.com/app/embed/linkedin-events/widget.js' async
                                defer></script>

                        </div>
                    </div>
                </div>
                <div class="social_col_2">

                    <div class="uk-width-1-1">
                        <div class="uk-flex uk-flex-middle heading__holder uk-clearfix">
                            <img class="uk-visible@s" src="http://chimpzlab.tech/img/250x600?123" alt="Advert">
                            <img class="uk-hidden@s" src="http://chimpzlab.tech/img/640x300?123" alt="Advert">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Social Posts -->