        <!-- Blog Posts -->
        <div class="uk-section uk-padding-small" id="blog_posts">
            <div class="uk-container">
                <div class="uk-grid">
                    <div class="uk-width-1-3@m">
                        <div class="uk-flex uk-flex-middle heading__holder">
                            <h2 class="uk-dark uk-text-uppercase uk-h2 uk-text-primary">Latest</h2>
                        </div>


                        <div class="latest-blog uk-margin-small-bottom" id="latest__blog">
                            <div class="news-img uk-margin-small-bottom uk-transition-toggle">
                                <img class="uk-transition-scale-up uk-transition-opaque"
                                    src="http://chimpzlab.tech/img/400x250" class="uk-width-1-1" alt="news img"
                                    width="400px" height="250px" />
                            </div>
                            <div class="news-content">
                                <div
                                    class="catname uk-background-primary uk-display-inline uk-padding-small uk-padding-remove-vertical uk-border-pill uk-margin-small-bottom">
                                    Community</div>

                                <h4 class="uk-margin-remove-vertical"><a href="#">A wonderful serenity has taken
                                        possession of my
                                        entire
                                        soul, like these sweet mornings of spring whi</a></h4>
                                <div class="uk-overflow-hidden">
                                    <p>“Disruption is the new normal.” Is this an overstatement? Probably not. The
                                        fourth
                                        industrial revolution is witnessing an astronomical rise of emerging
                                        technologies,(
                                        AI, Blockchain, Machine Learning, IoT) which has forced businesses to rethink
                                        their
                                        business models to stay ahead of the curve. As enterprises embark on the digital
                                        transformation journey, they feel the need to embrace a culture of creating
                                        change
                                        that will enable their workforce to be productive and amplify their potential.
                                        Automation, as an enabler, is empowering the digital workforce to unlock their
                                        potential and creative thinking. Today, Robotic process automation(RPA) has
                                        become
                                        the world’s most widely deployed intelligent digital workforce platform for a
                                        variety of businesses across domains. “RPA applications can save t...
                                    </p>
                                </div>
                                <div class="listing__meta">
                                    <i class="fa fa-calendar"></i><span class="uk-margin-small-right post-date">October
                                        20,
                                        2020</span>
                                    <i class="fa fa-eye"></i><span class=" post-view uk-margin-small-right">5620</span>
                                    <i class="fa fa-thumbs-up"></i><span class=" post-likes">20</span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-3@m uk-border-right">

            <!--comment-- // added uk-visible@m mobile version -->
            <div class="uk-flex uk-flex-middle heading__holder uk-clearfix uk-visible@m">
                            <a class="uk-margin-auto-left uk-button uk-button-primary uk-border-pill uk-button-small uk-margin-medium-right"
                                href="news.html">View More</a>
                        </div>

                        <div class="uk-width-1-1@s post__list">



                            <div class="news-item uk-flex uk-clearfix uk-margin-medium-bottom">
                                <div class="news-img uk-transition-toggle">
                                    <img class="uk-transition-scale-up uk-transition-opaque"
                                        src="http://chimpzlab.tech/img/100?12" alt="news img" width="100" height="100" />
                                </div>
                                <div class="news-content uk-flex-1 uk-margin-small-left">
                                    <div
                                        class="catname uk-background-primary uk-display-inline uk-padding-small uk-padding-remove-vertical uk-border-pill">
                                        Community</div>
                                    <h4 class="uk-margin-remove-vertical">
                                        <a href="">Digital dashboard for better coordination and insights</a>
                                    </h4>
                                    <div class="listing__meta">
                                        <i class="fa fa-calendar"></i><span
                                            class="uk-margin-small-right post-date">October
                                            20, 2020</span>
                                        <i class="fa fa-eye"></i><span
                                            class=" post-view uk-margin-small-right">20</span>
                                        <i class="fa fa-thumbs-up"></i><span class=" post-likes">20</span>
                                    </div>
                                </div>
                            </div>
                            <div class="news-item uk-flex uk-clearfix uk-margin-medium-bottom">
                                <div class="news-img uk-transition-toggle">
                                    <img class="uk-transition-scale-up uk-transition-opaque"
                                        src="http://chimpzlab.tech/img/100?22" alt="news img" width="100" height="100" />
                                </div>
                                <div class="news-content uk-flex-1 uk-margin-small-left">
                                    <div
                                        class="catname uk-background-primary uk-display-inline uk-padding-small uk-padding-remove-vertical uk-border-pill">
                                        Digital Transformation</div>
                                    <h4 class="uk-margin-remove-vertical">
                                        <a href="">3Cs – Customer, Culture and Competence, Driving business value for
                                            your
                                            customers</a>

                                    </h4>
                                    <div class="listing__meta">
                                        <i class="fa fa-calendar"></i><span
                                            class="uk-margin-small-right post-date">October
                                            20, 2020</span>
                                        <i class="fa fa-eye"></i><span
                                            class=" post-view uk-margin-small-right">5620</span>
                                        <i class="fa fa-thumbs-up"></i><span class=" post-likes">20</span>
                                    </div>
                                </div>
                            </div>

                            <div class="news-item uk-flex uk-clearfix uk-margin-medium-bottom">
                                <div class="news-img uk-transition-toggle">
                                    <img class="uk-transition-scale-up uk-transition-opaque"
                                        src="http://chimpzlab.tech/img/100?25" alt="news img" width="100" height="100" />
                                </div>
                                <div class="news-content uk-flex-1 uk-margin-small-left">
                                    <div
                                        class="catname uk-background-primary uk-display-inline uk-padding-small uk-padding-remove-vertical uk-border-pill">
                                        BPM</div>
                                    <h4 class="uk-margin-remove-vertical">
                                        <a href="">Re-Imagine Your Business Models by Leveraging the Power of RPA with
                                            Blockchain.
                                        </a>

                                    </h4>
                                    <div class="listing__meta">
                                        <i class="fa fa-calendar"></i><span
                                            class="uk-margin-small-right post-date">October
                                            20, 2020</span>
                                        <i class="fa fa-eye"></i><span
                                            class=" post-view uk-margin-small-right">5620</span>
                                        <i class="fa fa-thumbs-up"></i><span class=" post-likes">20</span>
                                    </div>
                                </div>
                            </div>
                            <div class="news-item uk-flex uk-clearfix uk-margin-medium-bottom">
                                <div class="news-img uk-transition-toggle">
                                    <img class="uk-transition-scale-up uk-transition-opaque"
                                        src="http://chimpzlab.tech/img/100?123" alt="news img" width="100" height="100" />
                                </div>
                                <div class="news-content uk-flex-1 uk-margin-small-left">
                                    <div
                                        class="catname uk-background-primary uk-display-inline uk-padding-small uk-padding-remove-vertical uk-border-pill">
                                        Data Science & AI Community</div>
                                    <h4 class="uk-margin-remove-vertical">
                                        <a href="">Software Development Process Metrics —- Why Should You Care ?</a>
                                    </h4>
                                    <div class="listing__meta">
                                        <i class="fa fa-calendar"></i><span
                                            class="uk-margin-small-right post-date">October
                                            20, 2020</span>
                                        <i class="fa fa-eye"></i><span
                                            class=" post-view uk-margin-small-right">200</span>
                                        <i class="fa fa-thumbs-up"></i><span class=" post-likes">20</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                        <!--comment-- // added div for mobile version -->
                        <div class="uk-align-center uk-flex uk-hidden@m" >
                            <a class=" uk-margin-auto uk-button uk-button-primary uk-border-pill uk-button-small uk-margin-small " href="#">View More</a>
                        </div>

                    </div>
                    <div class="uk-width-1-3@m">
                        <div class="uk-flex uk-flex-middle heading__holder uk-clearfix">
                            <h2 class="uk-dark uk-h4 uk-text-uppercase  uk-text-primary">Who to follow</h2>
                        </div>
                        <div class="wtf" data-scrollbar>
                            <div class="wtf-item uk-flex uk-flex-top uk-margin-medium-bottom">
                                <div class="wtf-cont uk-width-expand uk-flex uk-flex-top">
                                    <div class="wtf-img">
                                        <img class="uk-border-circle" src="http://chimpzlab.tech/img/a/50?1vv23"
                                            alt="news img" width="50" height="50" />
                                    </div>
                                    <div class="wtf-title uk-margin-small-left">
                                        <h4 class="uk-margin-remove-vertical">Profile name</h4>
                                        <p class="uk-margin-remove-vertical">@profile_name</p>
                                    </div>
                                </div>
                                <div class="wtf-btn uk-text-right uk-width-auto">
                                    <a href="#"
                                        class="uk-background-primary uk-padding-small uk-padding-remove-vertical uk-border-pill">
                                        <i class="fa fa-plus"></i> <span>Follow</span></a>
                                </div>
                            </div>
                            <div class="wtf-item uk-flex uk-flex-top uk-margin-medium-bottom">
                                <div class="wtf-cont uk-width-expand uk-flex uk-flex-top">
                                    <div class="wtf-img">
                                        <img class="uk-border-circle" src="http://chimpzlab.tech/img/a/50?u123" alt="news img"
                                            width="50" height="50" />
                                    </div>
                                    <div class="wtf-title uk-margin-small-left">
                                        <h4 class="uk-margin-remove-vertical">wonderful serenity</h4>
                                        <p class="uk-margin-remove-vertical">@profile_name</p>
                                    </div>
                                </div>
                                <div class="wtf-btn uk-text-right uk-width-auto">
                                    <a href="#"
                                        class="uk-background-primary uk-padding-small uk-padding-remove-vertical uk-border-pill">
                                        <i class="fa fa-plus"></i> <span>Follow</span></a>
                                </div>
                            </div>
                            <div class="wtf-item uk-flex uk-flex-top uk-margin-medium-bottom">
                                <div class="wtf-cont uk-width-expand uk-flex uk-flex-top">
                                    <div class="wtf-img">
                                        <img class="uk-border-circle" src="http://chimpzlab.tech/img/a/50?u123" alt="news img"
                                            width="50" height="50" />
                                    </div>
                                    <div class="wtf-title uk-margin-small-left">
                                        <h4 class="uk-margin-remove-vertical">wonderful serenity</h4>
                                        <p class="uk-margin-remove-vertical">@profile_name</p>
                                    </div>
                                </div>
                                <div class="wtf-btn uk-text-right uk-width-auto">
                                    <a href="#"
                                        class="uk-background-primary uk-padding-small uk-padding-remove-vertical uk-border-pill">
                                        <i class="fa fa-plus"></i> <span>Follow</span></a>
                                </div>
                            </div>

                            <div class="wtf-item uk-flex uk-flex-top uk-margin-medium-bottom">
                                <div class="wtf-cont uk-width-expand uk-flex uk-flex-top">
                                    <div class="wtf-img">
                                        <img class="uk-border-circle" src="http://chimpzlab.tech/img/a/50?12ii3"
                                            alt="news img" width="50" height="50" />
                                    </div>
                                    <div class="wtf-title uk-margin-small-left">
                                        <h4 class="uk-margin-remove-vertical">Profile Development Process</h4>
                                        <p class="uk-margin-remove-vertical">@profile_name</p>
                                    </div>
                                </div>
                                <div class="wtf-btn uk-text-right uk-width-auto">
                                    <a href="#"
                                        class="uk-background-primary uk-padding-small uk-padding-remove-vertical uk-border-pill">
                                        <span class="fa fa-plus"></span>

                                        Follow</a>
                                </div>
                            </div>
                            <div class="wtf-item uk-flex uk-flex-top uk-margin-medium-bottom">
                                <div class="wtf-cont uk-width-expand uk-flex uk-flex-top">
                                    <div class="wtf-img">
                                        <img class="uk-border-circle" src="http://chimpzlab.tech/img/a/50?u123" alt="news img"
                                            width="50" height="50" />
                                    </div>
                                    <div class="wtf-title uk-margin-small-left">
                                        <h4 class="uk-margin-remove-vertical">wonderful serenity</h4>
                                        <p class="uk-margin-remove-vertical">@profile_name</p>
                                    </div>
                                </div>
                                <div class="wtf-btn uk-text-right uk-width-auto">
                                    <a href="#"
                                        class="uk-background-primary uk-padding-small uk-padding-remove-vertical uk-border-pill">
                                        <i class="fa fa-plus"></i> <span>Follow</span></a>
                                </div>
                            </div>
                            <div class="wtf-item uk-flex uk-flex-top uk-margin-medium-bottom">
                                <div class="wtf-cont uk-width-expand uk-flex uk-flex-top">
                                    <div class="wtf-img">
                                        <img class="uk-border-circle" src="http://chimpzlab.tech/img/a/50?12ic3"
                                            alt="news img" width="50" height="50" />
                                    </div>
                                    <div class="wtf-title uk-margin-small-left">
                                        <h4 class="uk-margin-remove-vertical">Rreatment Businesses Engagement</h4>
                                        <p class="uk-margin-remove-vertical">@profile_name</p>
                                    </div>
                                </div>
                                <div class="wtf-btn uk-text-right uk-width-auto ">
                                    <a href="#"
                                        class="uk-background-primary uk-padding-small uk-padding-remove-vertical uk-border-pill">
                                        <i class="fa fa-plus"></i> <span>Follow</span></a>
                                </div>
                            </div>

                            <div class="wtf-item uk-flex uk-flex-top uk-margin-medium-bottom">
                                <div class="wtf-cont uk-width-expand uk-flex uk-flex-top">
                                    <div class="wtf-img">
                                        <img class="uk-border-circle" src="http://chimpzlab.tech/img/a/50?12ic3"
                                            alt="news img" width="50" height="50" />
                                    </div>
                                    <div class="wtf-title uk-margin-small-left">
                                        <h4 class="uk-margin-remove-vertical">Rreatment Businesses Engagement</h4>
                                        <p class="uk-margin-remove-vertical">@profile_name</p>
                                    </div>
                                </div>
                                <div class="wtf-btn uk-text-right uk-width-auto ">
                                    <a href="#"
                                        class="uk-background-primary uk-padding-small uk-padding-remove-vertical uk-border-pill">
                                        <i class="fa fa-plus"></i> <span>Follow</span></a>
                                </div>
                            </div>
                            <!--comment-- // added div for load more button -->
                            <div class="uk-align-center uk-flex uk-hidden@m" >
                            <a class=" uk-margin-auto uk-button uk-button-primary uk-border-pill uk-button-small uk-margin-small " href="#">Load More</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Blog Posts -->