
        <div class="uk-section uk-padding-small" id="videos">
            <div class="uk-container">
                <div class="uk-clearfix uk-form">
                    <h3 class="uk-h2 uk-text-primary uk-align-left uk-text-uppercase">Popular Videos</h3>
                    <!--comment-- // added class uk-visible@m for  button -->

                    <a href="videos.html" class="uk-visible@m uk-text-upper uk-button uk-button-primary uk-align-right uk-border-pill"><i
                            class="fa fa-play"></i> More Videos</a>

                </div>
                <div class="uk-grid">

                    <div class="uk-width-3-5@m uk-margin-small-bottom" id="featured__video">
                        <iframe class="uk-responsive" width="560" height="415"
                            src="https://www.youtube.com/embed/DiUC60l_9ds" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>


                        <div class="uk-width-1-1 uk-padding-small uk-padding-remove-horizontal">
                            <div
                                class="catname uk-clearfix uk-background-primary uk-display-inline uk-padding-small uk-padding-remove-vertical uk-border-pill">
                                Data Science & AI Community</div><br />
                            <a class="uk-h5" href="#">The role of IT in ensuring holistic CSR practices and
                                business sustainability
                            </a>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum illum tempora dicta,dit
                                nemo, quod laudantium saepe repudiandae.</p>
                            <div class="listing__meta">
                                <i class="fa fa-calendar"></i><span class="uk-margin-small-right post-date">October
                                    20,
                                    2020</span>
                                <i class="fa fa-eye"></i><span class=" post-view uk-margin-small-right">200</span>
                                <i class="fa fa-thumbs-up"></i><span class=" post-likes">20</span>
                            </div>
                        </div>

                    </div>


                    <div class="uk-width-2-5@m">




                        <div class="video_list" data-scrollbar>

                            <div class="video__caption uk-flex uk-height-1-1 uk-position-relative">
                                <div class="uk-width-auto uk-inline">
                                    <a href="#">
                                        <img src="http://chimpzlab.tech/img/100x70?e1" width="100" alt="thumb" />
                                        <span class="uk-overlay uk-text-primary uk-position-center">
                                            <i class="fa fa-play"></i>
                                        </span>
                                    </a>
                                </div>
                                <div class="uk-width-expand uk-margin-small-left">
                                    <div
                                        class="catname uk-clearfix uk-background-primary uk-display-inline uk-padding-small uk-padding-remove-vertical uk-border-pill">
                                        Data Science & AI Community</div><br />
                                    <a class="uk-h5" href="#">The role of IT in ensuring holistic CSR practices and
                                        business sustainability
                                    </a>
                                    <div class="listing__meta">
                                        <i class="fa fa-calendar"></i><span
                                            class="uk-margin-small-right post-date">October
                                            20,
                                            2020</span>
                                        <i class="fa fa-eye"></i><span
                                            class=" post-view uk-margin-small-right">200</span>
                                        <i class="fa fa-thumbs-up"></i><span class=" post-likes">20</span>
                                    </div>
                                </div>
                            </div>

                            <div class="video__caption uk-flex uk-height-1-1 uk-position-relative">
                                <div class="uk-width-auto uk-inline">
                                    <a href="#">
                                        <img src="http://chimpzlab.tech/img/100x70?ed1" width="100" alt="thumb" />
                                        <span class="uk-overlay uk-text-primary uk-position-center">
                                            <i class="fa fa-play"></i>
                                        </span>
                                    </a>
                                </div>
                                <div class="uk-width-expand uk-margin-small-left">
                                    <div
                                        class="catname uk-clearfix uk-background-primary uk-display-inline uk-padding-small uk-padding-remove-vertical uk-border-pill">
                                        Data Science & AI Community</div><br />
                                    <a class="uk-h5" href="#">The role of IT in ensuring holistic CSR practices and
                                        business sustainability
                                    </a>
                                    <div class="listing__meta">
                                        <i class="fa fa-calendar"></i><span
                                            class="uk-margin-small-right post-date">October
                                            20,
                                            2020</span>
                                        <i class="fa fa-eye"></i><span
                                            class=" post-view uk-margin-small-right">200</span>
                                        <i class="fa fa-thumbs-up"></i><span class=" post-likes">20</span>
                                    </div>
                                </div>
                            </div>

                            <div class="video__caption uk-flex uk-height-1-1 uk-position-relative">
                                <div class="uk-width-auto uk-inline">
                                    <a href="#">
                                        <img src="http://chimpzlab.tech/img/100x70?ed1" width="100" alt="thumb" />
                                        <span class="uk-overlay uk-text-primary uk-position-center">
                                            <i class="fa fa-play"></i>
                                        </span>
                                    </a>
                                </div>
                                <div class="uk-width-expand uk-margin-small-left">
                                    <div
                                        class="catname uk-clearfix uk-background-primary uk-display-inline uk-padding-small uk-padding-remove-vertical uk-border-pill">
                                        Data Science & AI Community</div><br />
                                    <a class="uk-h5" href="#">The role of IT in ensuring holistic CSR practices and
                                        business sustainability
                                    </a>
                                    <div class="listing__meta">
                                        <i class="fa fa-calendar"></i><span
                                            class="uk-margin-small-right post-date">October
                                            20,
                                            2020</span>
                                        <i class="fa fa-eye"></i><span
                                            class=" post-view uk-margin-small-right">200</span>
                                        <i class="fa fa-thumbs-up"></i><span class=" post-likes">20</span>
                                    </div>
                                </div>
                            </div>



                            <div class="video__caption uk-flex uk-height-1-1 uk-position-relative">
                                <div class="uk-width-auto uk-inline">
                                    <a href="#">
                                        <img src="http://chimpzlab.tech/img/100x70?dde1" width="100" alt="thumb" />
                                        <span class="uk-overlay uk-text-primary uk-position-center">
                                            <i class="fa fa-play"></i>
                                        </span>
                                    </a>
                                </div>
                                <div class="uk-width-expand uk-margin-small-left">
                                    <div
                                        class="catname uk-clearfix uk-background-primary uk-display-inline uk-padding-small uk-padding-remove-vertical uk-border-pill">
                                        Data Science & AI Community</div><br />
                                    <a class="uk-h5" href="#">The role of IT in ensuring holistic CSR practices and
                                        business sustainability
                                    </a>
                                    <div class="listing__meta">
                                        <i class="fa fa-calendar"></i><span
                                            class="uk-margin-small-right post-date">October
                                            20,
                                            2020</span>
                                        <i class="fa fa-eye"></i><span
                                            class=" post-view uk-margin-small-right">200</span>
                                        <i class="fa fa-thumbs-up"></i><span class=" post-likes">20</span>
                                    </div>
                                </div>
                            </div>

                            <div class="video__caption uk-flex uk-height-1-1 uk-position-relative">
                                <div class="uk-width-auto uk-inline">
                                    <a href="#">
                                        <img src="http://chimpzlab.tech/img/100x70?ce1" width="100" alt="thumb" />
                                        <span class="uk-overlay uk-text-primary uk-position-center">
                                            <i class="fa fa-play"></i>
                                        </span>
                                    </a>
                                </div>
                                <div class="uk-width-expand uk-margin-small-left">
                                    <div
                                        class="catname uk-clearfix uk-background-primary uk-display-inline uk-padding-small uk-padding-remove-vertical uk-border-pill">
                                        Data Science & AI Community</div><br />
                                    <a class="uk-h5" href="#">The role of IT in ensuring holistic CSR practices and
                                        business sustainability
                                    </a>
                                    <div class="listing__meta">
                                        <i class="fa fa-calendar"></i><span
                                            class="uk-margin-small-right post-date">October
                                            20,
                                            2020</span>
                                        <i class="fa fa-eye"></i><span
                                            class=" post-view uk-margin-small-right">200</span>
                                        <i class="fa fa-thumbs-up"></i><span class=" post-likes">20</span>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
                <!--comment-- // added div for  mobile -->
                <div class="uk-align-center uk-flex uk-hidden@m uk-margin-remove-top uk-margin-medium-bottom" >
                    <a class=" uk-margin-auto uk-button uk-button-primary uk-border-pill uk-button-small uk-margin-small " href="#"><i
                        class="fa fa-play"></i> More Videos
                    </a>
                </div>
            </div>
        </div>