{{ include('header/header.html') }}


{{ include('home/home__demand.html') }}
{{ include('home/home__featured_post.html') }}
{{ include('global/ad_h.html') }}

{{ include('home/home__blog_posts.html') }}
{{ include('home/home_contributors.html') }}

{{ include('home/home__reports.html') }}
{{ include('home/home__social_post.html') }}
{{ include('home/home__leaders_talk.html') }}

{{ include('home/home__events.html') }}
{{ include('home/home_videos.html') }}
{{ include('global/ad_h.html') }}



{{ include('footer/footer.html') }}

