#profile_posts {
    >.uk-container {
        @media(max-width:640px) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .profile__cover {
        margin: 0 -15px;

        @media(min-width: 640px) {
            margin: 0 -30px;
        }
    }

    .profile__avatar {
        margin: 0 0 -40px 0px;
        padding: 5px;
    }

    .profile__name {
        i {
            color: #1e87f0;
            font-size: 12px;
        }

        span {
            font-size: 12px;
            font-weight: normal;

            @media(max-width:640px) {
                display: none;
            }
        }
    }

}

.profile__page {
    border: 1px solid #eee;
    border-top: 0;
    border-bottom: 0;

    @media(min-width: 640px) {
        padding-left: 30px;
        padding-right: 30px;
    }

    .post__list {
        .news-item {
            border-bottom: 1px solid #eee;
            padding-bottom: 20px;

            &:last-child {
                border-bottom: 0;
            }
        }

    }

    .news_item {
        &:after {
            border-bottom: 1px solid #eee;
            content: '';
            width: 100%;
        }
    }
}

.profile__nav {
    min-width: 50px;
    li{
        &.uk-active{
            a{background:#eee;}
        }
    }
    @media(min-width:640px) {
        min-width: 80px;
    }

    @media(min-width:1280px) {
        min-width: 217px;
    }

    ul {
        @media(max-width:640px) {
            padding: 30px 0;
        }
    }

    a {
        padding: 5px 10px !important;
        color: $font-color;
        font-weight: bold;
        ;
        text-transform: uppercase;
        margin-bottom: 10px;

        i {
            font-size: 20px;
            width: 30px;
            text-align: center;
        }

        &:hover {
            color: $primary-color;
            background: #eee;
        }
    }

    span {
        @media(max-width:1280px) {
            display: none;
        }
    }
}

.profile__news {
    max-width: 335px;

    .news-img {
        max-width: 60px
    }

    .news-item {
        margin-bottom: 30px !important;
    }

    @media(max-width:960px) {
        display: none;
    }
}

.profile__header {
    margin: 0 -15px !important;

    @media(min-width: 640px) {
        margin: 0 -30px !important;
    }

    h4 {
        padding: 0 20px;
        line-height: 2.5;
        margin: 0;
    }
}

#posts_nav_tabs {
    margin: 20px -10px;
    justify-content: space-around;

    &:before {
        left: 0;
        right: 0;
    }

    li {
        margin: 0;
        padding: 0;

        a {
            font-weight: 700;

            @media (max-width:414px) {
                font-size: 12px;
                padding-left: 5px;
                padding-right: 5px;
            }

            @media (max-width:640px) {
                font-size: 13px;
            }

            span {
                @media (max-width:640px) {
                    display: none;
                }
            }

        }
    }
}

.create__btn {
    position: fixed;
    background-color: $primary-color;
    padding: 10px;
    right: 10px;
    top: 60%;
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    z-index: 980;

    i {
        font-size: 20px;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
    }

    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

#profile__modal{
    .cover__upload{padding:0 10px !important; margin:10px;}
    .uk-modal-dialog{
        max-width:600px !important;
        width:100% !important;
    }
    #form__profile{max-width: 100%;;}
}

.mobile__new{
    line-height: 1;
    background: #fff;
    color:$primary-color;
    right: 0;
    top: 0;
    padding: 13px;
    font-weight: bold;;
    font-size: 12px;text-transform: uppercase;
    text-align: right;
    &:hover{
        color:$primary-color;
    }
}

#ofcanvasnew{
    .uk-offcanvas-bar{
        background: #fff;
    }
    .uk-text-primary{color:$primary-color !important;}
    .uk-close{color:#000 !important}
    .uk-text-secondary{color:#555 !important}
    .news-item{
        display: flex;
        flex-direction: column;
    }
    .news-img{margin-bottom:10px;}
    .news-content{margin:0 !important;}
}

.news-item-pro{
    flex-direction: column;
    .news-img{position: absolute;}
    .news__meta{position: relative;min-height:60px}
    .news-content{margin:0 !important;}
    .catname{margin-left: 60px;}
    h4.uk-h4.uk-margin-remove{margin-left:60px !important;}
}

.action__buttons{
    a.uk-button{
        padding:5px;line-height: 1;;
    }
}

#profile_posts{
    .notification-item{padding:10px;}
}