{{ include('header/header.html') }}
      

<div class="article__progress" uk-sticky="offset: 50;cls-active:uk-visible;">

<div class="progress-container">
    <div class="progress-bar" id="topBar"></div>
  </div>  
</div>




<div class="uk-section">
    <div class="uk-container">
        <ul class="uk-breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="news.html">News</a></li>


            <li><span>The Internet of Medical Things And Positive Disruption In The Healthcare Sector</span></li>
        </ul>

    </div>
</div>


        <!-- Blog  -->
        <div class="uk-section uk-padding-small " >
            <div class="uk-container">
                <article class="gp-entry-text">


                    <div uk-grid="" class="uk-grid uk-grid-stack uk-margin-bottom uk-flex-middle">
                        <div class="uk-width-1-2@m uk-first-column">
                            <img src="https://chimpzlab.tech/img/600x315?1203h" alt="PDF Screenshoot">
                        </div>
                        <div class="uk-width-1-2@m uk-grid-margin uk-first-column">
                            <header><h1 class="uk-h1 uk-article-title">The Internet of Medical Things And Positive Disruption In The Healthcare Sector
                            </h1></header>
                            <div class="listing__meta">
                                <i class="fa fa-calendar"></i> <span
                                    class="uk-margin-small-right post-date">October 20, 2020</span>
                                <i class="fa fa-eye"></i><span
                                    class=" post-view uk-margin-small-right">20</span> <i
                                    class="fa fa-thumbs-up"></i> <span
                                    class=" post-view uk-margin-small-right">40</span>
                                 <i class="fa fa-user"></i> <span
                                 class=" post-view uk-margin-small-right">@johnDoe   </span>
                                 
                                 <a class="like__button" href="#"><i class="fa fa-heart"></i> <span>Like</span></a>

                                </div>
                        </div>
                    </div>


                    <hr class="uk-divider-icon">


                    

              
                 
<div class="uk-flex uk-flex-center">
    <!-- <div class="uk-column-follow">
        <div class="uk-background-white" uk-sticky="offset:100;bottom: .gp-entry-text">
            <div>
                <ul class="uk-list uk-list-large uk-list-divider">
                    <li><a href="#"><i class="fa fa-heart"></i> <span>Like</span></a></li>
                    <li><a href="#"><i class="fa fa-user"></i> <span>Follow</span></a></li> 
                    <li><a href="#"><i class="fa fa-bookmark"></i> <span>Bookmark</span></a></li> 
                    <li><a href="#" class="active"><i class="fa fa-heart"></i> <span>Liked</span></a></li>
                    <li><a href="#" class="active"><i class="fa fa-user"></i> <span>Following</span></a></li>
                    <li><a href="#" class="active"><i class="fa fa-bookmark"></i> <span>Saved</span></a></li>
                    
                </ul>
            </div>
        </div>
    </div> -->
<div class="uk-padding-large article__area">
    <!-- {{ data|raw }} -->
                    <p><em>India’s booming medical industry, boosted by medical tourism, takes on latest tech</em></p>
                    <p>Healthcare is now one of the largest sectors in India both in terms of revenue and employment, and it is booming thanks to increased investment by private players and the growing popularity of medical tourism. The government is looking for the best way to deliver quality medical treatment to the influx of foreign patients traveling to India for low-cost treatments, and the most promising technological advantage is the Internet of Medical Things (IoMT), which has become a gamechanger in the healthcare sector.</p>
                    <blockquote><p><strong>“IoMT brought the most remarkable impact on humankind by connecting the healthcare ecosystem and its stakeholders in real time, delivering better services,”</strong></p></blockquote>
                    <p>says Stanton Chase India Managing Partner Ashwini Prakash. “The Indian healthcare sector leapfrogged and adopted the technology, helping it transform drastically in a short span of time.”</p>
                    <p>Like the Internet of Things, IoMT offers the connection of smart medical devices and software applications to improve the services offered by hospitals, medical equipment, outsourced expertise, telemedicine, medical tourism, and health insurance. Used effectively, IoMT reduces healthcare costs and improves better patient outcomes effectively and efficiently.</p>
                    <p>According to a Frost &amp; Sullivan analysis, the global IoMT market was worth $22.5 billion in 2016 and is expected to reach $72.02 billion this year. The proliferation of IoMT has skyrocketed as healthcare providers witness firsthand how much it improves and safeguards their services.</p>
                    <p>“IoMT has the potential to significantly reshape the healthcare sector. With COVID-19 acting as a catalyst, IoMT has helped to monitor, inform, and notify not only caregivers but provide healthcare providers with real-time data to identify health issues in advance, thus allowing prompt intervention,” says Sudarshan Jain, Secretary General of the Indian Pharmaceutical Alliance. “The technology has given access to customer-centred holistic solutions that will make a difference.”</p>
                    <p>With the advent of technologies such as artificial intelligence, big data, and 3-D printing, to name but a few, the healthcare sector worldwide is going through an unprecedented phase of disruption. In almost every instance, however, this disruption is positive – resulting in both better healthcare for patients and improved operations for businesses in the medical sector. IoMT enables smart medical devices for quality patient treatment, and pharmacovigilance — the practice of studying, managing, and helping prevent adverse effects from drugs — is being heavily impacted by technological developments.</p>
                    <p>Data can now be collected in more sophisticated ways than ever before, such as using mobile sensors to collect patients’ biometric data. Artificial intelligence can help life science organizations filter through vast reams of this data to discover how patients are impacted by the pharmaceuticals they are using. Along with 3-D printing, which can be used to customize everything from drugs to prosthetics, this is changing the way new treatments are developed.</p>
                    <h2><strong>Moving Healthcare From Hospital To Home</strong></h2>
                    <p>COVID-19 has ramped up technological disruption in the healthcare industry. While the pandemic brought a slate of new challenges to the industry, it has also provided opportunities for innovation. One of the biggest changes that’s already underway is the transition of healthcare services away from the hospital and into the home. Many procedures still require an in-patient hospital stay, but an increasing amount of care is accessible outside of primary hospitals. The pandemic also accelerated the need for remote patient monitoring and usage of IoMT in ambulatory and home care, which has led to a boom in teleconsultations and monitoring, which in turn reduces the number of in-hospital visits and prevent contamination.</p>
                    <p>Secondary and tertiary hospitals in smaller population centers are now able to provide higher levels of care thanks to advancements such as telemedicine. Specialists who are employed only by primary hospitals in large urban centers are no longer limited to only serving patients in-person. They can virtually attend to patients at secondary hospitals, tertiary hospitals, and even remote clinics.</p>
                    <p>Smart devices allow both patients and providers to monitor conditions at a previously unprecedented level. Apps for consumer devices such as smartwatches and fitness bands provide patients with real-time data and allow providers to view information over time. Medical-specific devices such as monitoring patches and heart rhythm detectors make it possible to monitor specific conditions.</p>
                    <p>Services like DocBox, which collects and transmits up to 3 gigabytes of structured data per patient per day, could make telemedicine even more effective as lower-level hospitals can transmit more information to specialists at primary facilities.</p>
                    <blockquote><p><strong>“There is a paradigm shift to accommodate digital outreach through telemedicine and e-pharmacy, as the new normal,”</strong></p></blockquote>
                    <p>says Anish Bafna of Managing Director Healthium. “Remote patient monitoring and home monitoring may increase especially for chronic disease management, personal IOT devices for tracking vital signs and enabling remote care, chatbots/machine learning tools for initial diagnoses based on symptoms of patients – these will all shape the future of the medical devices sector. PocketECG represents one way that preventive healthcare can enter the home. The IoMT device remotely sends cardiac data from a patient’s home to their healthcare provider.”</p>
                    <p><strong>Making Inventory Management And Equipment Maintenance More Efficient</strong></p>
                    <p>Managing backend operations of healthcare and pharmaceutical businesses is a massive logistical undertaking, and maintaining inventory levels and managing equipment maintenance are major challenges.</p>
                    <blockquote><p><strong>“The adoption of IoMT calls for enabling a data-driven business model which creates value for the medical device industry as well as healthcare delivery stakeholders,”</strong></p></blockquote>
                    <p>notes Indranil Mukherjee, Managing Director at B. Braun. “With an ever-increasing need for medical equipment in the treatment domain, IoMT helps improve operational effectiveness of technical services, especially in predictive maintenance but also in reducing mean time between failures and improving turnaround time.”</p>
                    <p>The four dimensions of data involved in IoMT – generation, collection, transmission, and analysis – are also driving innovation in medtech through “advances in wireless technology, miniaturization, cloud as storage and computing speed and power,” Mukherjee adds.</p>
                    <p>In order for patients to have reliable access to the medications they need, healthcare businesses must be able to track and predict their inventory level requirements. Primary hospitals must do this across tens of thousands of products, and even secondary and tertiary facilities frequently handle thousands of items.</p>
                    <p>Basic technology has already made tracking inventory much faster in that scanning an item is a lot quicker than manually entering it. However, more advanced technology will truly revolutionize this aspect of the healthcare industry.</p>
                    <p>Artificial intelligence has the potential to make inventory need predictions much more accurate, and IoMT can connect inventory management between pharmaceutical and healthcare businesses. When these two systems are fully developed and implemented, India could have a comprehensive inventory management system that tracks, predicts, and adjusts inventory across the healthcare and pharmaceutical sector.</p>
                    <p>Medical equipment maintenance is especially challenging because the equipment is so specific and complex. There are many finely tuned components to monitor, and each piece of equipment must be monitored uniquely. Computers are a well-established part of medical equipment monitoring, but IoMT capabilities are changing how computers can be used.</p>
                    <p>An example of the impact that IoMT is having is Philips Healthcare E-Alert. The sensor-based system monitors MRIs to ensure the imaging systems are working properly. Should something go awry, the system immediately informs the appropriate person so that they can address the issue. This allows multiple MRI machines to be monitored from a centralized location, thus reducing the time that a technician spends going between machines.</p>
                    <h3><strong>AI Draws Insights From Patients’ Electronic Health Reports (EHRs)</strong></h3>
                    <p><img class="uk-align-left uk-margin-remove-adjacent" src="https://chimpzlab.tech/img/400x315?1203h" alt="" ></p>
                    <p>Since the government pushed for electronic health record adoption, more patients have their files in electronic form. This not only makes it easier to share records for individual patient care, but the wealth of information available is also opening up possibilities that only come with big data.</p>
                    <p>Artificial intelligence is gleaning insights from conglomerate EHR data at a rapid pace, and the potential of this information is only growing as more patients get electronic files. These insights may prove useful to researchers and clinicians alike as they try to better understand and treat conditions.</p>
                    <p>The power of AI to draw insights from EHR data will only increase as India continues to move toward an entirely digital healthcare record system.</p>
                    <p><strong>5G Connectivity’s Role In The Continued Transformation</strong></p>
                    <p>All of these advancements and the changes they bring rely on one essential upgrade: 5G wireless connectivity. 5G is the next generation of wireless, and it’s particularly well-suited to inter-device communication. 5G definitely seems to be the next big disruption in healthcare with faster Internet speeds, lower latency, virtual networks, and a greater number of connected devices. It helps accelerate remote patient monitoring and increase access to healthcare without the current perils of travel, expenses, and time. According to Mukherjee, the advances in technology will speed up downloads of bulky patient data and improve the quality of telemedicine without video lags and buffering. Robotic surgeries and AR/VR will aid in increased skills and precision, thereby improving quality of care.</p>
                    <p>5G wireless is the next permutation of connectivity. Nishith Mohanty, Global HR Head and CHRO for the Manipal Group, says 5G is going to “change how we consume data, run business and how we take care of ourselves.”</p>
                    <p>With the promise of more stable mobile connections with low latency and high speeds, he adds,</p>
                    <blockquote><p><strong>“5G will transform healthcare and the patient experience, entire industries, and how we communicate with our friends and family.”</strong></p></blockquote>
                    <p>With 5G connectivity, multiple devices can communicate with one another through embedded sensors. Numerous things are being computerized through these sensors, and the broad network expands communication beyond traditional computers and phones. Having many devices interconnected with one another makes it possible to share information in real time, while simultaneously reducing the data rates and power that are primary cost drivers. The result is better information, better management, and lower costs when compared to the predecessors of wireless communication.</p>
                    <p>If India’s healthcare sector is going to make these changes, 5G will have to be rolled out across the country. It will first need to be implemented in major cities, where primary hospitals and pharmaceutical companies with major inventory challenges are located. The upgraded connection will then have to be rolled out to smaller cities so that everyone can benefit from the changes that technology is bringing.</p>
                    <p><strong>The Future Of Wearable Devices</strong></p>
                    <p>Digital wellness is creating a niche market for itself. As people are becoming increasingly aware of and concerned about their day-to-day health, there has been a rise in health and fitness apps, smartwatches, and wearable devices for fitness tracking. IoMT has been the catalyst to accelerate the sudden demand of wearable devices. According to research from Business Insider Intelligence, more than 80% of consumers are willing to wear fitness technology.</p>
                    <p>The future is trending more toward personalized and data-driven wearables as there is a vast amount of data being collected and we would see a greater convergence of AI and ML in analyzing this data. It is also becoming useful in managing diseases such as Parkinson’s by tracking body movement, and in cardiovascular therapeutics by monitoring heart rhythms and alerting those who experience atrial fibrillation. Biosensors with the advent of self-adhesive patches are opening up new frontiers that allow patient mobility while collecting data on body vitals and alerting physicians of any changes or danger alerts to attend to without losing time.</p>
                    <p>“All this is quite evident of an aggressive CAGR in this segment in India this decade,” Mukherjee says. The India wearables market has shown steady growth and saw an impressive 168% year-on-year growth in 2019, closing the year with 14.9 million units. It recorded 80% growth in the first quarter of 2020 and registered 4.2 million unit shipments, according to data by market research firm IDC.</p>
                    <p><strong>A Brighter Future For Indian Healthcare Through Technology</strong></p>
                    <p><img class="uk-align-right uk-margin-remove-adjacent" src="https://chimpzlab.tech/img/400x315?120603h" alt="" ></p>
                    <p>IoMT innovation is already taking place in India. The Indian Institute of Technology Kanpur and Ansys created a startup that’s developing a modular, power-efficient and low-cost ventilator. The startup, Nocca Robotics Private Limited, intends to design these ventilators with an IoMT functional design, making it possible to control them from a centralized location so that resources can be used more efficiently. The ventilator has obvious usefulness in light of the COVID-19 pandemic, but the benefits of IoMT projects in India will be even farther-reaching.</p>
                    <p>The changes that IoMT, AI and 5G are enabling will create a bright future for India’s healthcare sector. Primary hospitals are already seeing updates that will increase the potential for IoMT, and more integrated devices will be available in the coming years. 5G connectivity may still be years off at secondary and tertiary hospitals, but 5G holds the capability to give a new face to the healthcare services and treatment. In the meantime, improved Internet access for both these facilities and the patients they serve will improve remote and specialized healthcare.</p>
                    <p>A deeper focus on preventive care is essential if India’s healthcare system is to substantially improve. Improving overall wellness reduces the strain on the medical sector’s resources, and it lessens the cost of care for patients. In a country that has only about 15 percent insurance penetration, reducing costs is a major factor when trying to increase accessibility for people.</p>
                    <p>Together, the changes that IoMT, AI, and other technological advancements are bringing about have the potential to transform India’s healthcare sector. As accessibility, monitoring, inventory reliability, and new research all increase, providers will be in a better position to offer more preventive services — which naturally leads to a reduced need for reactive treatments.</p>
                    <p>Technology is changing how people in India receive the treatments they need. The country’s huge population and fewer resources demand continuous development and innovation to reduce the gap. The healthcare industry fully understands the importance of utilizing the data generated from their devices and leveraging it will ensure accurate diagnostics and on-time treatment to better serve the patient.</p>
                    <p>The information generated using IoMT is intelligent and measurable to help improve the speed and accuracy of diagnostics and target treatments more efficiently and effectively. IoMT enables remote clinical monitoring, preventive care, and chronic disease and medication management, and it supports people who require assistance with daily living – such as the elderly and those with disabilities – to live more independent lives.</p>
                    <p>Through the implementation of IoMT, providers will be able to better educate the public, patients will be able to get earlier diagnoses, medications will be more consistently available, and everyone will better understand the medical needs of India’s population. Conventional healthcare is up to witness a paradigm shift as digital transformation is enabling better access of technologically advanced treatments even in the remotest of areas through online consultation and connected products.</p>
                    <p><strong>About the Authors:</strong></p>
                    <p><a href="https://www.stantonchase.com/consultant/ashwini-d/">Ashwini Prakash</a> is a Managing Partner for Stanton Chase’s India offices. She has over 18 years’ experience in executive search consulting and specializes in the consumer products, retail, life sciences, and healthcare sectors. She is a Certified Assessment Consultant (Psychometric Assessments) and a Certified Organization Culture Expert. She leads Executive/Leadership assessments and Organization Culture Assessment for Stanton Chase, India Region. She is a certified Corporate Director, certified by the Institute of Directors.</p>
                    <p><a href="https://www.linkedin.com/in/veena-pandey-she-her-hers-5315922b/">Veena Pandey</a> heads the editorial and content function for the Stanton Chase India offices. She has an extensive background in both qualitative and quantitative research.</p>
               
                </div>
            </div>
                </article>
              
                <hr class="uk-divider-icon"><br/>
<div class="uk-text-center "><h4 class="uk-h4 uk-align-center uk-text-primary">ABOUT THE AUTHOR</h4></div>
                <div class="uk-card  uk-width-1-1@m">
                
                        <div class="uk-grid-small uk-flex-middle uk-margin-small-bottom" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="80" height="80" src="https://chimpzlab.tech/img/a/100x100?455">
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">Jon Doe</h3>
                                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
                                
                            </div>
                            <div class="wtf-btn uk-text-right uk-width-auto uk-light">
                                <a href="#"
                                    class="uk-background-primary uk-padding-small uk-padding-remove-vertical uk-border-pill">
                                    <i class="fa fa-plus"></i> <span>Follow</span></a>
                            </div>
                        </div>
                
                    <div class=" uk-position-relative">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere illum provident velit unde esse. Quisquam, reiciendis numquam commodi deleniti voluptatum similique perferendis placeat? Deleniti ad est omnis quos excepturi aliquid?</p>
                    </div>
                  
                </div>

             
                <div class="uk-margin uk-text-center">
                    <h4 >Don't forget to share this post!
                    </h4>
                    <a href="" class="uk-icon-button  " uk-icon="facebook"></a>
                    <a href="" class="uk-icon-button " uk-icon="twitter"></a>
                    <a href="" class="uk-icon-button" uk-icon="linkedin"></a>
                    <a href="" class="uk-icon-button" uk-icon="google"></a>



                  
                </div>


                <hr class="uk-divider-icon">
                <br/>
                <div class="uk-text-center "><h4 class="uk-h4 uk-align-center uk-text-primary">COMMENTS</h4></div>
                <ul class="uk-comment-list uk-margin-medium-bottom">
                    <li>
                        <article class="uk-comment uk-visible-toggle" tabindex="-1">
                            <header class="uk-comment-header uk-position-relative">
                                <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                    <div class="uk-width-auto">
                                        <img class="uk-comment-avatar uk-border-circle" src="https://chimpzlab.tech/img/a/100x100?455234" width="80" height="80" alt="">
                                    </div>
                                    <div class="uk-width-expand">
                                        <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Author</a></h4>
                                        <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#">12 days ago</a></p>
                                    </div>
                                </div>
                                <div class="uk-position-top-right uk-position-small uk-hidden-hover"><a class="uk-link-muted" href="#">Reply</a></div>
                            </header>
                            <div class="uk-comment-body">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                            </div>
                        </article>
                        <ul>
                            <li>
                                <article class="uk-comment uk-comment-primary uk-visible-toggle" tabindex="-1">
                                    <header class="uk-comment-header uk-position-relative">
                                        <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                            <div class="uk-width-auto">
                                                <img class="uk-comment-avatar uk-border-circle" src="https://chimpzlab.tech/img/a/100x100?455464g" width="80" height="80" alt="">
                                            </div>
                                            <div class="uk-width-expand">
                                                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Author</a></h4>
                                                <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#">12 days ago</a></p>
                                            </div>
                                        </div>
                                        <div class="uk-position-top-right uk-position-small uk-hidden-hover"><a class="uk-link-muted" href="#">Reply</a></div>
                                    </header>
                                    <div class="uk-comment-body">
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <article class="uk-comment uk-visible-toggle" tabindex="-1">
                                    <header class="uk-comment-header uk-position-relative">
                                        <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                            <div class="uk-width-auto">
                                                <img class="uk-comment-avatar uk-border-circle" src="https://chimpzlab.tech/img/a/100x100?455rtg" width="80" height="80" alt="">
                                            </div>
                                            <div class="uk-width-expand">
                                                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Author</a></h4>
                                                <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#">12 days ago</a></p>
                                            </div>
                                        </div>
                                        <div class="uk-position-top-right uk-position-small uk-hidden-hover"><a class="uk-link-muted" href="#">Reply</a></div>
                                    </header>
                                    <div class="uk-comment-body">
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                    </div>
                                </article>
                            </li>
                        </ul>
                    </li>
                </ul>
                <hr class="uk-divider-icon">

                <form class="uk-card uk-background-muted uk-padding-large">
                
                        <legend class="uk-legend">Add Your Response</legend>
                
                        <div class="uk-margin">
                            Logged in as Jon Doe. <a href="profile.html">Log out?</a>


                        </div> <div class="uk-margin">
                            <input class="uk-input" type="text" placeholder="Name">
                        </div>
                
                       
                
                        <div class="uk-margin">
                            <textarea class="uk-textarea" rows="5" placeholder="Comments"></textarea>
                        </div>
                
                        <div class="uk-margin ">
                          <input type="submit" class="uk-button uk-button-primary" value="Submit Your Comment" />
                        </div>
                
                        
                
                      
                    </fieldset>
                </form>
                
            
            </div>
        </div>
        <!-- End Blog -->   
        

        <div class="uk-section uk-padding-small card__slider uk-background-muted" id="related__articles">
            <div class="uk-container">
                <div class="uk-flex-row ">

                    <div class="uk-width-1-1">
                        <h2 class="uk-dark uk-h3 uk-text-uppercase uk-margin-medium-bottom uk-text-primary uk-text-center">Related Articles

                        </h2>
                        <div uk-slider>
                            <div class="uk-position-relative">
    
                                <div class="uk-slider-container">
    
    
                                    <ul class="uk-slider-items uk-child-width-1-4@s uk-child-width-1-4@m uk-grid">
                                        <li>
                                            <div class="news-item uk-margin-small-bottom">
                                                <div class="news-img uk-margin-small-bottom uk-transition-toggle">
                                                    <img src="https://chimpzlab.tech/img/300x200?12332"
                                                        class="uk-width-1-1 uk-transition-scale-up uk-transition-opaque"
                                                        alt="news img" width="300px" height="187px" />
                                                </div>
                                                <div class="news-content">
                                                    <div
                                                        class="catname uk-background-primary uk-display-inline uk-padding-small uk-padding-remove-vertical uk-border-pill uk-margin-small-bottom">
                                                        Free for all</div>
                                                    <div class="listing__meta">
                                                        <i class="fa fa-calendar"></i> <span
                                                            class="uk-margin-small-right post-date">October 20, 2020</span>
                                                        <i class="fa fa-eye"></i><span
                                                            class=" post-view uk-margin-small-right">20</span> <i
                                                            class="fa fa-thumbs-up"></i> 40
    
                                                    </div>
                                                    <h4 class="uk-margin-remove-vertical uk-h5"><a href="">
                                                            The role of IT in ensuring holistic
                                                            CSR
                                                            practices and business sustainability
                                                        </a>
                                                    </h4>
    
                                                </div>
    
                                            </div>
                                        </li>
                                        <li>
                                            <div class="news-item uk-margin-small-bottom">
                                                <div class="news-img uk-margin-small-bottom uk-transition-toggle">
                                                    <img src="https://chimpzlab.tech/img/300x200?1232"
                                                        class="uk-width-1-1 uk-transition-scale-up uk-transition-opaque"
                                                        alt="news img" width="300px" height="187px" />
                                                </div>
                                                <div class="news-content">
                                                    <div
                                                        class="catname uk-background-primary uk-display-inline uk-padding-small uk-padding-remove-vertical uk-border-pill uk-margin-small-bottom">
                                                        Free for all</div>
                                                    <div class="listing__meta">
                                                        <i class="fa fa-calendar"></i> <span
                                                            class="uk-margin-small-right post-date">October 20, 2020</span>
                                                        <i class="fa fa-eye"></i><span
                                                            class=" post-view uk-margin-small-right">20</span> <i
                                                            class="fa fa-thumbs-up"></i> 40
    
                                                    </div>
                                                    <h4 class="uk-margin-remove-vertical uk-h5"><a href="">
                                                            Impact of COVID on cancer treatment
                                                            in
                                                            India
                                                        </a>
                                                    </h4>
    
                                                </div>
    
                                            </div>
                                        </li> <li>
                                            <div class="news-item uk-margin-small-bottom">
                                                <div class="news-img uk-margin-small-bottom uk-transition-toggle">
                                                    <img src="https://chimpzlab.tech/img/300x200?12dd32"
                                                        class="uk-width-1-1 uk-transition-scale-up uk-transition-opaque"
                                                        alt="news img" width="300px" height="187px" />
                                                </div>
                                                <div class="news-content">
                                                    <div
                                                        class="catname uk-background-primary uk-display-inline uk-padding-small uk-padding-remove-vertical uk-border-pill uk-margin-small-bottom">
                                                        Free for all</div>
                                                    <div class="listing__meta">
                                                        <i class="fa fa-calendar"></i> <span
                                                            class="uk-margin-small-right post-date">October 20, 2020</span>
                                                        <i class="fa fa-eye"></i><span
                                                            class=" post-view uk-margin-small-right">20</span> <i
                                                            class="fa fa-thumbs-up"></i> 40
    
                                                    </div>
                                                    <h4 class="uk-margin-remove-vertical uk-h5"><a href="">
                                                            Impact of COVID on cancer treatment
                                                            in
                                                            India
                                                        </a>
                                                    </h4>
    
                                                </div>
    
                                            </div>
                                        </li>
                                        <li>
                                            <div class="news-item uk-margin-small-bottom">
                                                <div class="news-img uk-margin-small-bottom uk-transition-toggle">
                                                    <img src="https://chimpzlab.tech/img/300x200?12432"
                                                        class="uk-width-1-1 uk-transition-scale-up uk-transition-opaque"
                                                        alt="news img" width="300px" height="187px" />
                                                </div>
                                                <div class="news-content">
                                                    <div
                                                        class="catname uk-background-primary uk-display-inline uk-padding-small uk-padding-remove-vertical uk-border-pill uk-margin-small-bottom">
                                                        Free for all</div>
                                                    <div class="listing__meta">
                                                        <i class="fa fa-calendar"></i> <span
                                                            class="uk-margin-small-right post-date">October 20, 2020</span>
                                                        <i class="fa fa-eye"></i><span
                                                            class=" post-view uk-margin-small-right">20</span> <i
                                                            class="fa fa-thumbs-up"></i> 40
    
                                                    </div>
                                                    <h4 class="uk-margin-remove-vertical uk-h5"><a href="">
                                                            Tier 3 Cities & Rural India – Growth
                                                            Drivers for Indian Businesses?
                                                        </a>
                                                    </h4>
    
                                                </div>
    
                                            </div>
                                        </li>
                         
                                        <li>
                                            <div class="news-item uk-margin-small-bottom">
                                                <div class="news-img uk-margin-small-bottom uk-transition-toggle">
                                                    <img src="https://chimpzlab.tech/img/300x200?123dd32"
                                                        class="uk-width-1-1 uk-transition-scale-up uk-transition-opaque"
                                                        alt="news img" width="300px" height="187px" />
                                                </div>
                                                <div class="news-content">
                                                    <div
                                                        class="catname uk-background-primary uk-display-inline uk-padding-small uk-padding-remove-vertical uk-border-pill uk-margin-small-bottom">
                                                        Free for all</div>
                                                    <div class="listing__meta">
                                                        <i class="fa fa-calendar"></i> <span
                                                            class="uk-margin-small-right post-date">October 20, 2020</span>
                                                        <i class="fa fa-eye"></i><span
                                                            class=" post-view uk-margin-small-right">20</span> <i
                                                            class="fa fa-thumbs-up"></i> 40
    
                                                    </div>
                                                    <h4 class="uk-margin-remove-vertical uk-h5"><a href="">
                                                            The role of IT in ensuring holistic
                                                            CSR
                                                            practices and business sustainability
                                                        </a>
                                                    </h4>
    
                                                </div>
    
                                            </div>
                                        </li>
                                    </ul>
    
                                    <span></span>
                                </div>
                                <a class="uk-position-center-left-out uk-position-small  uk-slidenav" href="#"
                                    uk-slider-item="previous"><i class="fa fa-angle-left"></i></a>
                                <a class="uk-position-center-right-out uk-position-small uk-slidenav" href="#"
                                    uk-slider-item="next"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                 
              
            </div>
        </div>
        </div>


       
<script>
    window.onscroll = function() {ScrollIndicator()};

function ScrollIndicator() {
  var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
  var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
  var scrolled = (winScroll / height) * 100;
  document.getElementById("topBar").style.width = scrolled + "%";
}
</script>  
 

        
 
{{ include('footer/footer.html') }}
