{{ include('header/header.html') }}
      

<div class="article__progress" uk-sticky="offset: 50;cls-active:uk-visible;">

<div class="progress-container">
    <div class="progress-bar" id="topBar"></div>
  </div>  
</div>




<div class="uk-section">
    <div class="uk-container">
        <ul class="uk-breadcrumb">
            <li><a href="#">Home</a></li>
            <li><span>Advisory Board
            </span></li>
        </ul>

    </div>
</div>


        <!-- Blog  -->
        <div class="uk-section uk-padding-small " >
            <div class="uk-container">
                <article class="gp-entry-text">
                
                    <h1>Contact Us</h1>



                    <div class="uk-child-width-1-2@s uk-text-left" uk-grid>
                        <div>
                            <div class="uk-card uk-card-default  uk-height-1-1">
                          
                                
                      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1752.4546863354678!2d77.33360052430129!3d28.542443627103857!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe793c0010a5c1d87!2sDSCI!5e0!3m2!1sen!2sin!4v1543218801023"  height="400" frameborder="0" style="border:0;width:100%" allowfullscreen></iframe>		</div>
                  
                                
                            </div>

                        <div>
                            <div class="uk-card uk-card-default  uk-height-1-1">
                                <div class="uk-padding-small">
                                <h4>ADDRESS</h4>
                                <p>Plot No. 7-10, NASSCOM Campus,<br/>
                                    Sector 126, Noida<br/>
                                    Uttar Pradesh 201303</p>
                                
                                <h4>CONTACT DETAILS</h4>
                                <p><strong>Telephone:</strong> +91-120-499-0253</br>
                                    <strong>Monday-Friday:</strong> 9am to 6pm</p>
                                </div>
                            </div>
                        </div>
                 
                    </div>


                

  

                    

              
                 
<div class="uk-flex uk-flex-center">
 
<div class="uk-padding-large ">

    







    <p> Signing up and participating on the Community is free for everyone, though we have an exclusive section
        for NASSCOM members. All you need to start is <a href="#">REGISTER</a>. We discourage product promotions
        and sales
        content but almost everything else is welcome.</p>
    </p>
    <p>
        If you have a story to share, just go ahead and upload it on the Community. Our editorial team will take
        care of the rest. If you have an interesting collaboration idea or any queries, write to us at
        <a href="mailto:community@nasscom.in">community@nasscom.in</a>
    </p>



                </div>
            </div>
                </article>
              
           

             
         
        
            
            </div>
        </div>
        <!-- End Blog -->   
        

    


        
 
{{ include('footer/footer.html') }}
