{{ include('header/header.html') }}
      

<div class="article__progress" uk-sticky="offset: 50;cls-active:uk-visible;">

<div class="progress-container">
    <div class="progress-bar" id="topBar"></div>
  </div>  
</div>




<div class="uk-section">
    <div class="uk-container">
        <ul class="uk-breadcrumb">
            <li><a href="#">Home</a></li>
            <li><span>About</span></li>
        </ul>

    </div>
</div>


        <!-- Blog  -->
        <div class="uk-section uk-padding-small " >
            <div class="uk-container">
                <article class="gp-entry-text">


                

                    <h1>Who we are</h1>


                    

              
                 
<div class="uk-flex uk-flex-center">
    
<div class="uk-padding-remove ">

		<p>NASSCOM Community is an open knowledge sharing platform for the Indian technology industry. We discuss the latest technologies and impact of policies and changing markets; monitor trends; interview industry leaders; put the spotlight on brilliant startups and ideas as well enable collaborations between members. You can also stay updated on NASSCOM announcements, analysis and press notes here.</p>

	                    
                </div>
            </div>
                </article>
              
           

             
         
        
            
            </div>
        </div>
        <!-- End Blog -->   
        

    


        
 
{{ include('footer/footer.html') }}
